@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pirata+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  font-family: "Roboto", Arial, sans-serif;
  background-color: rgb(245, 245, 245);
  background: linear-gradient(180deg, #E2E1E7 0%, #D2D9DF 75%, #739EBE 100%);
}

main > * {
  translate: 0 -67px;
}

.light-theme .animVague::before, .light-theme .animVague::after {
  background-color: rgb(97.2591093117, 164.3967611336, 251.7408906883);
}
.light-theme header {
  background-color: rgba(5, 108, 242, 0.4);
}
.light-theme header a:hover {
  text-shadow: 0 0.05em rgb(97.2591093117, 164.3967611336, 251.7408906883), 0em 0em 0.1em rgb(97.2591093117, 164.3967611336, 251.7408906883), 0em 0em 0.4em rgb(97.2591093117, 164.3967611336, 251.7408906883);
}
.light-theme section:nth-child(odd) {
  box-shadow: inset 0 0 0 4000px rgba(255, 255, 255, 0.4), 0px -0.01em 2.5em rgba(0, 0, 0, 0.05);
  border-top: solid 0.01em rgba(100, 100, 100, 0.08);
}
.light-theme #navSecAccueil {
  background-color: #07A2F5;
}
.light-theme #navSecAccueil:hover {
  background-image: url("../img/Placeholders/1.png");
}
.light-theme #navSecMoi {
  background-color: #31B6F5;
}
.light-theme #navSecMoi:hover {
  background-image: url("../img/Placeholders/2.png");
}
.light-theme #navSecSuivre {
  background-color: #3C7EC4;
}
.light-theme #navSecSuivre:hover {
  background-image: url("../img/Placeholders/3.png");
}
.light-theme #navSecSpotify {
  background-color: #1D73AF;
}
.light-theme #navSecSpotify:hover {
  background-image: url("../img/Placeholders/4.png");
}
.light-theme #navSecAnim {
  background-color: #1D65DC;
}
.light-theme #navSecAnim:hover {
  background-image: url("../img/Placeholders/5.png");
}
.light-theme #navSecJV {
  background-color: #153773;
}
.light-theme #navSecJV:hover {
  background-image: url("../img/Placeholders/6.png");
}
.light-theme #navSecPalma {
  background-color: #0053d8;
}
.light-theme #navSecPalma:hover {
  background-image: url("../img/Placeholders/7.png");
}
.light-theme #navSecContact {
  background-color: #1036FF;
}
.light-theme #navSecContact:hover {
  background-image: url("../img/Placeholders/8.png");
}
.light-theme #navSecondaire {
  background: radial-gradient(circle, #056CF2 0%, #88DFF2 100%);
  background-size: 500% 100%;
  box-shadow: inset 0 0 0 4000px rgba(255, 255, 255, 0.4);
  animation: blend infinite 90s;
}
.light-theme #navSecondairea:hover {
  color: #88DFF2;
  text-shadow: 0 0 0.5em black, 0 0 3em rgb(245, 245, 245);
}
.light-theme #linkTree > div > a {
  color: #056CF2;
  border: #056CF2 solid 0.1em;
}
.light-theme #linkTree > div > a:hover {
  color: white;
  background-color: #056CF2;
  box-shadow: 0 0.06em 1.25em rgba(0, 0, 0, 0.4);
}
.light-theme #palmares > span a {
  color: black;
}
.light-theme #palmares > span div {
  background-color: white;
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1);
}
.light-theme #palmares > span div:hover {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.3);
}
.light-theme #spotify a {
  color: black;
}

.dark-theme {
  background: linear-gradient(180deg, #888 0%, #002a74 75%, #000e25 100%);
  color: white;
}
.dark-theme .animVague::before, .dark-theme .animVague::after {
  background-color: rgb(55.7142857143, 61.2857142857, 165.2857142857);
}
.dark-theme header {
  background-color: rgba(30, 33, 89, 0.4);
}
.dark-theme header a:hover {
  text-shadow: 0 0.1em rgb(55.7142857143, 61.2857142857, 165.2857142857), 0em 0em 0.1em rgb(200.9698492462, 199, 255), 0em 0em 0.4em rgb(200.9698492462, 199, 255);
}
.dark-theme section:nth-child(odd) {
  box-shadow: inset 0 0 0 4000px rgba(0, 0, 0, 0.3), 0px -0.01em 2.5em rgba(0, 0, 0, 0.05);
  border-top: solid 0.01em rgba(50, 50, 50, 0.08);
}
.dark-theme #navSecAccueil {
  background-color: #00027c;
}
.dark-theme #navSecAccueil:hover {
  background-image: url("../img/Placeholders/sombre/1.png");
}
.dark-theme #navSecMoi {
  background-color: #00095e;
}
.dark-theme #navSecMoi:hover {
  background-image: url("../img/Placeholders/sombre/2.png");
}
.dark-theme #navSecSuivre {
  background-color: #0061a1;
}
.dark-theme #navSecSuivre:hover {
  background-image: url("../img/Placeholders/sombre/3.png");
}
.dark-theme #navSecSpotify {
  background-color: #031b46;
}
.dark-theme #navSecSpotify:hover {
  background-image: url("../img/Placeholders/sombre/4.png");
}
.dark-theme #navSecAnim {
  background-color: #00509b;
}
.dark-theme #navSecAnim:hover {
  background-image: url("../img/Placeholders/sombre/5.png");
}
.dark-theme #navSecJV {
  background-color: #002258;
}
.dark-theme #navSecJV:hover {
  background-image: url("../img/Placeholders/sombre/6.png");
}
.dark-theme #navSecPalma {
  background-color: #003283;
}
.dark-theme #navSecPalma:hover {
  background-image: url("../img/Placeholders/sombre/7.png");
}
.dark-theme #navSecContact {
  background-color: #001988;
}
.dark-theme #navSecContact:hover {
  background-image: url("../img/Placeholders/sombre/8.png");
}
.dark-theme #navSecondaire {
  background: radial-gradient(circle, #1e2159 0%, #0700c7 100%);
  background-size: 500% 100%;
  animation: blend infinite 90s;
  box-shadow: inset 0 0 0 4000px rgba(255, 255, 255, 0.15);
}
.dark-theme #navSecondaire a:hover {
  color: rgb(200.9698492462, 199, 255);
  text-shadow: 0 0 0.5em black, 0 0 3em rgb(245, 245, 245);
}
.dark-theme #linkTree > div > a {
  color: rgb(200.9698492462, 199, 255);
  border: rgb(200.9698492462, 199, 255) solid 0.1em;
}
.dark-theme #linkTree > div > a:hover {
  color: #1e2159;
  background-color: rgb(200.9698492462, 199, 255);
  box-shadow: 0 0.06em 1.25em rgba(10, 10, 10, 0.5);
}
.dark-theme #palmares > span a {
  color: white;
}
.dark-theme #palmares > span div {
  background-color: #1e2159;
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.3);
}
.dark-theme #palmares > span div:hover {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.5);
}
.dark-theme #spotify a {
  color: white;
}

.unselect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none;
}

.invert {
  filter: invert(100%);
}

.wow {
  animation: ahOui 1s infinite linear;
}

.flash {
  animation: flashAnim 6s linear;
}

.animVague {
  overflow: clip;
  position: relative;
}
.animVague::before, .animVague::after {
  content: "";
  width: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  aspect-ratio: 1;
  translate: -50% 0;
  border-top-left-radius: 60% 80%;
  border-top-right-radius: 70% 50%;
  border-bottom-left-radius: 30% 80%;
  border-bottom-right-radius: 70% 65%;
  mix-blend-mode: multiply;
  animation: rot 100s linear infinite;
}
.animVague::after {
  animation-delay: -10s;
  animation-duration: 90s;
}

.link {
  display: inline-block;
  cursor: url("../img/link_curs.png"), pointer;
}

header {
  width: 83.1545064378%;
  height: 65px;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 1;
  opacity: 0;
  transform: translateY(-65px);
  transition: opacity 0.5s ease-in, 0.5s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  padding: 0 2em;
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 32.5px;
  color: white;
  box-shadow: 0 0.4em 1.75em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  align-content: center;
}
header.show {
  opacity: 1;
  transform: translateY(10px);
}
header nav {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  font-size: 2.5em;
}
header nav div a {
  font-family: "Pirata One", "Arial Narrow", Arial, sans-serif;
  color: white;
  transition: 0.2s ease-in;
}

#navMenu {
  /*

  display: flex;
  flex-wrap: wrap;
  gap: 0.1em 1em;
  justify-content: center;
  justify-items: center;
  align-items: center;

  */
  display: grid;
  grid-template: 1fr/repeat(2, 20%) 1em;
  justify-content: end;
  justify-items: center;
  align-items: center;
  font-size: 0.8em;
}
#navMenu a {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

#theme {
  border-radius: 0.5625em;
}
#theme:hover {
  animation: themeJN infinite 1s alternate ease-in;
  box-shadow: 0 0 0.5em black, 0 0 3em rgb(245, 245, 245);
}

#depart {
  height: 100vh;
  align-content: center;
  animation: fondAlterAcceuil 15s infinite alternate;
  transition: opacity 5s ease-in-out, background-image 0s;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 4000px rgba(0, 0, 0, 0.3);
}

#accueil {
  color: white;
  font-family: Arial, sans-serif;
  width: fit-content;
  margin-left: 15em;
  text-align: center;
}
#accueil h1 {
  font-size: 6.5em;
  font-family: "Pirata One", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  text-shadow: 0 0.05em #88DFF2, 0em 0em 0.1em #88DFF2, 0em 0em 0.4em #88DFF2;
}
#accueil h1:hover {
  animation: titreDisco 2.5s infinite alternate ease-in-out;
}
#accueil h2 {
  margin: 0.5em 0 0.9em 0;
  font-weight: 200;
}
#accueil a {
  font-size: 1.25em;
  padding: 0.45em;
  font-variant-caps: small-caps;
  color: #88DFF2;
  border: solid 0.15em #88DFF2;
  background-color: rgba(5, 108, 242, 0.2);
  transition: 0.5s;
}
#accueil a:hover {
  font-size: 1.5em;
  color: rgb(181.9772727273, 235.3636363636, 247.0227272727);
  background-color: rgba(97.2591093117, 164.3967611336, 251.7408906883, 0.2);
  box-shadow: 0 0 0.5em black, 0 0 3em rgb(245, 245, 245);
  border: solid 0.15em rgb(181.9772727273, 235.3636363636, 247.0227272727);
  border-radius: 2px;
}

#flashbang {
  margin: 2em auto 0;
  padding: 0.8em;
  opacity: 0.1;
  filter: blur(1px);
  border-radius: 15px;
  background-color: #056cf2;
  width: fit-content;
  text-align: center;
}

section:not(#depart) {
  padding: 3em 0;
  scroll-margin-top: 90px;
}
section:not(#depart) h2 {
  margin-top: 0;
  padding-left: 2em;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2.5em;
}

#navSecAccueil {
  grid-area: secAcc;
}

#navSecMoi {
  grid-area: secMoi;
}

#navSecSuivre {
  grid-area: secSuivre;
}

#navSecSpotify {
  grid-area: secSpotify;
}

#navSecAnim {
  grid-area: secAnim;
}

#navSecJV {
  grid-area: secJV;
}

#navSecPalma {
  grid-area: secPalma;
}

#navSecContact {
  grid-area: secContact;
}

#navSecTxt {
  grid-area: secTxt;
  text-align: end;
  padding: 0 0.4em;
}

#navSecondaire {
  color: white;
}
#navSecondaire > div {
  padding: 0 1em;
  font-weight: bold;
  font-size: 2em;
  font-variant-caps: all-petite-caps;
  display: grid;
  grid-template: repeat(4, 1fr) 1.5fr/repeat(2, 1fr) 2fr;
  grid-template-areas: "secAcc secAcc secMoi" "secSuivre secSpotify secMoi" "secAnim secPalma secMoi" "secJV secPalma secMoi" "secTxt secTxt secContact";
}
#navSecondaire > div > a {
  color: white;
  padding: 0.4em;
  text-align: center;
  align-content: center;
  border-radius: 15px;
  margin: 0.1em;
  background-size: cover;
  background-position: center;
}
#navSecondaire > div > a:hover {
  box-shadow: inset 0 0 0 4000px rgba(0, 0, 0, 0.3);
}

#moi h2 {
  width: fit-content;
}
#moi h2:hover::after {
  content: "I built this page brick by brick";
  font-family: "pirata one";
}

#linkTree > div {
  width: 85.8369098712%;
  margin: 0 auto;
  font-size: 1.25em;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 15px 5.364806867%;
}
#linkTree > div:nth-child(odd) {
  flex-grow: 1.5;
}
#linkTree > div > a {
  width: fit-content;
  padding: 0.6em;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: light;
  border-radius: 1.2em;
  transition: box-shadow 0.5s ease-out;
}

#palmares > span {
  width: 85.8369098712%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#palmares > span > div {
  width: 320px;
  height: 400px;
  margin: 1em;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  overflow: hidden;
  transition: transform 0.5s ease-in-out, box-shadow 1.5s ease-out;
}
#palmares > span > div:hover {
  transform: scale(1.05);
}
#palmares > span > div img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  overflow: hidden;
}
#palmares > span > div span {
  display: block;
  height: 4.6875em;
}
#palmares > span > div span h3 {
  text-transform: uppercase;
  line-height: 1em;
  padding: 0.5em;
  font-size: 1.5em;
  margin-bottom: 0.35rem;
}

#spotify a:hover {
  text-shadow: 0 0 0.1em rgba(0, 128, 0, 0.2), 0em 0em 0.1em rgba(144, 238, 144, 0.1), 0em 0em 0.4em rgba(144, 238, 144, 0.1);
}
#spotify div {
  width: 1600, 1864;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#spotify div iframe {
  width: 20%;
}

#anim {
  width: fit-content;
  margin: 0 auto;
  font-size: 3em;
  font-weight: 600;
  transition: 0.3s ease-out;
}
#anim.scale {
  scale: 0.95 0.95;
}

#jeuVideo {
  margin: 0 auto;
  width: 59.0128755365%;
  height: 40em;
}

.letAnim {
  display: inline-block;
  animation: transform 0.2s ease-out, translate 1s ease-in-out, color 3s ease-in-out;
}
.letAnim.animat {
  transform: scaleX(0.8) skewX(3deg);
  translate: 0 -0.15em;
}
.letAnim.reset {
  transform: scaleX(1) skewX(0);
  translate: 0 0;
  transition: 1.05s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@media only screen and (min-width: 0px) and (max-width: 474px) {
  body * {
    display: none;
  }
  body::after {
    content: "Prends un vrai écran non mon reuf ?";
  }
}
@media only screen and (min-width: 475px) {
  #accueil h1 {
    font-size: 1em;
  }
  h1::after {
    content: "475px";
    color: #1e2159;
  }
}
@media (min-width: 640px) {
  h1::after {
    content: "640px";
    color: #1e2159;
  }
}
@media (min-width: 768px) {
  h1::after {
    content: "768px";
    color: #1e2159;
  }
}
@media (min-width: 1024px) {
  h1::after {
    content: "1024px";
    color: #1e2159;
  }
}
@media only screen and (min-width: 1288px) {
  h1::after {
    content: "1288px";
    color: #1e2159;
  }
}
@media only screen and (min-width: 1536px) {
  h1::after {
    content: "1536px";
    color: #1e2159;
  }
}
@keyframes fondAlterAcceuil {
  0% {
    background-image: url(../img/accueil.jpg);
  }
  49% {
    background-image: url(../img/accueil.jpg);
  }
  50% {
    background-image: url(../img/2024-01-30_192441_16.jpg);
  }
  100% {
    background-image: url(../img/2024-01-30_192441_16.jpg);
  }
}
@keyframes titreDisco {
  from {
    filter: hue-rotate(0);
    filter: brightness(1);
  }
  to {
    filter: hue-rotate(100deg);
    filter: brightness(1.4);
  }
}
@keyframes themeJN {
  from {
    filter: brightness(10);
  }
  to {
    filter: brightness(1);
  }
}
@keyframes flashAnim {
  from {
    filter: brightness(80);
  }
  50% {
    filter: brightness(80);
  }
  to {
    filter: brightness(0);
  }
}
@keyframes blend {
  to {
    background-position: 500% 100%;
  }
}
@keyframes ahOui {
  to {
    filter: hue-rotate(360deg);
  }
}
@keyframes rot {
  to {
    rotate: 360deg;
  }
}
.wip::after {
  vertical-align: top;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0.4em;
  font-weight: 200;
  content: "Work in progress";
}

/*# sourceMappingURL=style.css.map */
