@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pirata+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  font-family: "Roboto", Arial, sans-serif;
  background-color: rgb(245, 245, 245);
  background: linear-gradient(180deg, #E2E1E7 0%, #D2D9DF 75%, #80c8ff 100%);
}

.light-theme .animVague::before, .light-theme .animVague::after {
  background-color: rgb(97.2591093117, 164.3967611336, 251.7408906883);
}
.light-theme header {
  background-color: rgba(5, 108, 242, 0.4);
}
.light-theme header a:hover {
  text-shadow: 0 0.05em rgb(97.2591093117, 164.3967611336, 251.7408906883), 0em 0em 0.1em rgb(97.2591093117, 164.3967611336, 251.7408906883), 0em 0em 0.4em rgb(97.2591093117, 164.3967611336, 251.7408906883);
}
.light-theme section:nth-child(odd) {
  box-shadow: inset 0 0 0 4000px rgba(255, 255, 255, 0.4), 0px -0.01em 2.5em rgba(0, 0, 0, 0.05);
  border-top: solid 0.01em rgba(100, 100, 100, 0.08);
}
.light-theme #navSecondaire {
  background: radial-gradient(circle, #056CF2 0%, #88DFF2 100%);
  background-size: 500% 100%;
  box-shadow: inset 0 0 0 4000px rgba(255, 255, 255, 0.4);
  animation: blend infinite 90s;
}
.light-theme #navSecondairea:hover {
  color: #88DFF2;
  text-shadow: 0 0 0.5em black, 0 0 3em rgb(245, 245, 245);
}
.light-theme #linkTree > div > a {
  color: #056CF2;
  border: #056CF2 solid 0.1em;
}
.light-theme #linkTree > div > a:hover {
  color: white;
  background-color: #056CF2;
  box-shadow: 0 0.06em 1.25em rgba(0, 0, 0, 0.4);
}
.light-theme #palmares > span a {
  color: black;
}
.light-theme #palmares > span div {
  background-color: white;
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1);
}
.light-theme #palmares > span div:hover {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.3);
}
.light-theme #palmares > span div p {
  background: rgba(97.2591093117, 164.3967611336, 251.7408906883, 0.85);
}
.light-theme #spotify a {
  color: black;
}
.light-theme #contact form {
  background-color: white;
  border: 1px solid black;
  box-shadow: -0.6em 0.6em 0 rgba(0, 0, 0, 0.26);
}
.light-theme #contact form h2 {
  border-bottom: 1px solid black;
}
.light-theme #contact form span input, .light-theme #contact form span textarea {
  border: 0.125em solid rgba(0, 0, 0, 0.6);
  background-color: lightgrey;
}

.dark-theme {
  background: linear-gradient(180deg, #888 0%, #002a74 75%, #000e25 100%);
  color: white;
}
.dark-theme .animVague::before, .dark-theme .animVague::after {
  background-color: #0700c7;
}
.dark-theme header {
  background-color: rgba(30, 33, 89, 0.4);
}
.dark-theme header a:hover {
  text-shadow: 0 0.1em rgb(55.7142857143, 61.2857142857, 165.2857142857), 0em 0em 0.1em rgb(200.9698492462, 199, 255), 0em 0em 0.4em rgb(200.9698492462, 199, 255);
}
.dark-theme section:nth-child(odd) {
  box-shadow: inset 0 0 0 4000px rgba(0, 0, 0, 0.3), 0px -0.01em 2.5em rgba(0, 0, 0, 0.05);
  border-top: solid 0.01em rgba(50, 50, 50, 0.08);
}
.dark-theme #navSecondaire {
  background: radial-gradient(circle, #1e2159 0%, #0700c7 100%);
  background-size: 500% 100%;
  animation: blend infinite 90s;
  box-shadow: inset 0 0 0 4000px rgba(255, 255, 255, 0.15);
}
.dark-theme #navSecondaire a:hover {
  color: rgb(200.9698492462, 199, 255);
  text-shadow: 0 0 0.5em black, 0 0 3em rgb(245, 245, 245);
}
.dark-theme #linkTree > div > a {
  color: rgb(200.9698492462, 199, 255);
  border: rgb(200.9698492462, 199, 255) solid 0.1em;
}
.dark-theme #linkTree > div > a:hover {
  color: #1e2159;
  background-color: rgb(200.9698492462, 199, 255);
  box-shadow: 0 0.06em 1.25em rgba(10, 10, 10, 0.5);
}
.dark-theme #palmares > span a {
  color: white;
}
.dark-theme #palmares > span div {
  background-color: #1e2159;
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.3);
}
.dark-theme #palmares > span div:hover {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.5);
}
.dark-theme #palmares > span div p {
  background: rgba(55.7142857143, 61.2857142857, 165.2857142857, 0.85);
}
.dark-theme #spotify a {
  color: white;
}
.dark-theme #contact form {
  background-color: #000e25;
  border: 1px solid white;
  box-shadow: -0.6em 0.6em 0 rgba(255, 255, 255, 0.26);
}
.dark-theme #contact form h2 {
  border-bottom: 1px solid white;
}
.dark-theme #contact form span input, .dark-theme #contact form span textarea {
  border: 0.125em solid rgba(255, 255, 255, 0.6);
  background-color: grey;
  color: white;
}
.dark-theme #contact form span input::placeholder, .dark-theme #contact form span textarea::placeholder {
  color: white;
}
.dark-theme footer button {
  color: whitesmoke;
}

.unselect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none;
}

.invert {
  filter: invert(100%);
}

.wow {
  animation: ahOui 1s infinite linear;
}

.flash {
  animation: flashAnim 6s linear;
}

.animVague {
  overflow: clip;
  position: relative;
}
.animVague::before, .animVague::after {
  content: "";
  width: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -10;
  aspect-ratio: 1;
  translate: -50% 0;
  border-top-left-radius: 60% 80%;
  border-top-right-radius: 70% 50%;
  border-bottom-left-radius: 30% 80%;
  border-bottom-right-radius: 70% 65%;
  mix-blend-mode: multiply;
  animation: rot 100s linear infinite;
}
.animVague::after {
  animation-delay: -10s;
  animation-duration: 90s;
}

.link {
  cursor: url("../img/Placeholders/link_curs.png"), pointer;
}

.letAnim {
  display: inline-block;
  animation: transform 0.2s ease-out, translate 1s ease-in-out, color 3s ease-in-out;
}
.letAnim.animat {
  transform: scaleX(0.8) skewX(3deg);
  translate: 0 -0.15em;
}
.letAnim.reset {
  transform: scaleX(1) skewX(0);
  translate: 0 0;
  transition: 1.05s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@media only screen and (min-width: 0px) {
  main > * {
    translate: 0 -42px;
  }
  .light-theme #navSecAccueil, .light-theme #navSecMoi, .light-theme #navSecSuivre, .light-theme #navSecSpotify, .light-theme #navSecAnim, .light-theme #navSecJV, .light-theme #navSecPalma, .light-theme #navSecContact {
    background-color: rgba(5, 108, 242, 0.5);
    border: 2px solid rgba(30, 33, 89, 0.8);
  }
  .dark-theme #navSecAccueil, .dark-theme #navSecMoi, .dark-theme #navSecSuivre, .dark-theme #navSecSpotify, .dark-theme #navSecAnim, .dark-theme #navSecJV, .dark-theme #navSecPalma, .dark-theme #navSecContact {
    background-color: rgba(30, 33, 89, 0.5);
    border: 2px solid rgba(55.7142857143, 61.2857142857, 165.2857142857, 0.8);
  }
  header {
    height: 40px;
    width: 83.1545064378%;
    margin: 0 auto;
    padding: 0 1em;
    align-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    opacity: 0;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 20px;
    box-shadow: 0 0.4em 1.75em rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    transform: translateY(-40px);
    transition: opacity 0.5s ease-in, 0.5s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  }
  header.show {
    opacity: 1;
    transform: translateY(10px);
  }
  header nav {
    display: grid;
    grid-template: 1fr/fit-content(1em) 1fr;
    font-size: 1.3em;
  }
  header nav #navMenu {
    font-size: 0.85em;
  }
  header nav div a {
    font-family: "Pirata One", "Arial Narrow", Arial, sans-serif;
    color: white;
    transition: 0.2s ease-in;
  }
  #navMenu {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1em 1em;
    justify-content: end;
    justify-items: center;
    align-items: center;
  }
  #navMenu a {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    width: fit-content;
    height: fit-content;
  }
  #theme {
    border-radius: 0.5625em;
  }
  #theme:hover {
    animation: themeJN infinite 1s alternate ease-in;
    box-shadow: 0 0 0.5em black, 0 0 3em rgb(245, 245, 245);
  }
  #depart {
    height: 100vh;
    align-content: center;
    animation: fondAlterAcceuil 15s infinite alternate;
    transition: opacity 5s ease-in-out, background-image 0s;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 4000px rgba(0, 0, 0, 0.3);
  }
  #flashbang {
    margin: 2em auto 0;
    padding: 0.8em;
    opacity: 0.1;
    filter: blur(1px);
    border-radius: 15px;
    background-color: #056cf2;
    width: fit-content;
    text-align: center;
  }
  #accueil {
    color: white;
    font-family: Arial, sans-serif;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
  }
  #accueil h1 {
    font-size: 3.5em;
    font-family: "Pirata One", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0 0.05em #88DFF2, 0em 0em 0.1em #88DFF2, 0em 0em 0.4em #88DFF2;
    margin: 0;
  }
  #accueil h1:hover {
    animation: titreDisco 1.25s infinite alternate ease-in-out;
  }
  #accueil h2 {
    font-size: 1.3em;
    margin: 0.15em 0.7em 1em;
    font-weight: 200;
  }
  #accueil a {
    font-size: 1.25em;
    padding: 0.45em;
    font-variant-caps: small-caps;
    color: #88DFF2;
    border: solid 0.15em #88DFF2;
    background-color: rgba(5, 108, 242, 0.2);
    transition: 0.5s;
  }
  #accueil a:hover {
    font-size: 1.5em;
    color: rgb(181.9772727273, 235.3636363636, 247.0227272727);
    background-color: rgba(97.2591093117, 164.3967611336, 251.7408906883, 0.2);
    box-shadow: 0 0 0.5em black, 0 0 3em rgb(245, 245, 245);
    border: solid 0.15em rgb(181.9772727273, 235.3636363636, 247.0227272727);
    border-radius: 2px;
  }
  #navMenu {
    gap: 0.1em 0.5em;
  }
  #navSecAccueil {
    grid-area: secAcc;
  }
  #navSecMoi {
    grid-area: secMoi;
  }
  #navSecSuivre {
    grid-area: secSuivre;
  }
  #navSecSpotify {
    grid-area: secSpotify;
  }
  #navSecAnim {
    grid-area: secAnim;
  }
  #navSecPalma {
    grid-area: secPalma;
  }
  #navSecContact {
    grid-area: secContact;
  }
  #navSecondaire > div {
    padding: 0 1em;
    font-weight: bold;
    font-size: 2em;
    font-variant-caps: all-petite-caps;
    display: flex;
    flex-wrap: wrap;
  }
  #navSecondaire > div > a {
    color: white;
    width: 100%;
    padding: 0.4em;
    margin: 0.1em;
    border-radius: 15px;
    text-align: center;
    align-content: center;
    background-size: cover;
    background-position: center;
  }
  #navSecondaire > div > a:hover {
    box-shadow: inset 0 0 0 4000px rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 0.5em black, 0 0 3em rgb(245, 245, 245);
  }
  section:not(#depart) {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    scroll-margin-top: 60px;
    margin-top: 0;
    padding: 3em 0;
  }
  section:not(#depart) h2 {
    font-size: 2em;
  }
  section:not(#depart) h2:not(form h2) {
    width: fit-content;
    margin: 0 auto 0.3em;
  }
  #moi h2 {
    width: fit-content;
  }
  #moi h2:hover::after {
    content: "I built this page brick by brick";
    font-family: "pirata one";
  }
  #linkTree > div {
    width: 85.8369098712%;
    margin: 0 auto;
    font-size: 1.25em;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 0.8em 2.6824034335%;
  }
  #linkTree > div > a {
    width: fit-content;
    padding: 0.6em;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: light;
    border-radius: 1.2em;
    transition: box-shadow 0.5s ease-out, background 0.25s ease;
  }
  #palmares > span {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #palmares > span > div {
    width: 250px;
    height: 275px;
    border-radius: 1em;
    margin: 1em;
    overflow: hidden;
    transition: transform 0.5s ease-in-out, box-shadow 1.5s ease-out, filter 0.4s ease;
  }
  #palmares > span > div:hover {
    transform: scale(1.05);
  }
  #palmares > span > div:hover ~ div {
    transform: scale(0.9);
    filter: grayscale(0.65);
  }
  #palmares > span > div:hover p {
    visibility: visible;
    opacity: 1;
  }
  #palmares > span > div:has(~ div:hover) {
    transform: scale(0.9);
    filter: grayscale(0.65);
  }
  #palmares > span > div img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    overflow: hidden;
  }
  #palmares > span > div p {
    transition: opacity 0.75s ease, visibility 0.5s ease;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: calc(250px - 1.5em);
    height: calc(275px - 5.1em - 1.5em);
    margin: 0;
    padding: 0.75em;
    border-radius: 0 0 1em 1em;
    color: white;
    text-align: justify;
    line-height: 1.25em;
    font-size: 0.65em;
  }
  #palmares > span > div span {
    display: block;
    height: 5.1em;
  }
  #palmares > span > div span h3 {
    margin-bottom: 0.35rem;
    padding: 0.5em;
    font-size: 1.3em;
    text-transform: uppercase;
    line-height: 1em;
  }
  #spotify a:hover {
    text-shadow: 0 0 0.1em rgba(0, 128, 0, 0.2), 0em 0em 0.1em rgba(144, 238, 144, 0.1), 0em 0em 0.4em rgba(144, 238, 144, 0.1);
  }
  #spotify div {
    width: 85.8369098712%;
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    flex-flow: column;
    gap: 1em;
    justify-content: space-evenly;
  }
  #spotify div iframe {
    width: 85%;
    height: 9.5em;
    margin: 0 auto;
    border-radius: 1em;
  }
  #anim {
    width: fit-content;
    margin: 0 auto;
    font-size: 2em;
    font-weight: 600;
    transition: 0.3s ease-out;
  }
  #anim.scale {
    scale: 0.95 0.95;
  }
  #contact form {
    width: 52.5751072961%;
    margin: 0 auto;
    font-family: "Roboto", Courier, monospace;
  }
  #contact form h2 {
    margin: 0;
    padding: 0.5em;
    text-align: center;
  }
  #contact form span {
    display: flex;
    flex-direction: column;
    padding: 1.25em;
  }
  #contact form span input, #contact form span textarea {
    padding: 0.3125em;
    margin-top: 0.625em;
  }
  #contact form span input[type=submit] {
    align-self: flex-end;
  }
  #contact form span textarea {
    min-height: 3.125em;
    resize: vertical;
  }
  footer {
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  footer button {
    background-color: rgba(220, 20, 60, 0.4);
    border: solid 1px red;
    border-radius: 50px;
    height: 2em;
    padding: 0 1em;
    backdrop-filter: blur(60px);
  }
  footer button:hover {
    animation: shake 0.1s alternate infinite;
  }
}
@media only screen and (min-width: 321px) {
  main > * {
    translate: 0 -62px;
  }
  #accueil h1 {
    font-size: 4em;
  }
  #accueil h2 {
    font-size: 1.5em;
    margin: 0.15em 0.7em 1em;
  }
  header {
    height: 60px;
    border-radius: 31px;
    padding: 0 1.2em;
    transform: translateY(-62px);
  }
  header nav {
    font-size: 1.5em;
  }
  header nav #navMenu {
    font-size: 0.8em;
  }
  section:not(#depart) {
    scroll-margin-top: 82px;
  }
  section:not(#depart) h2 {
    font-size: 2.5em;
  }
  section:not(#depart) h2:not(form h2) {
    margin: 0 auto 0.5em;
  }
  #palmares > span > div {
    height: 325px;
  }
  #palmares > span > div img {
    height: 325px;
  }
  #palmares > span > div h3 {
    font-size: 1.5em;
  }
  #palmares > span > div p {
    height: calc(325px - 5.1em - 1.5em);
    font-size: 0.8em;
  }
  #spotify div {
    margin-top: 1.25em;
    gap: 1.25em;
  }
  #spotify div iframe {
    height: 10em;
  }
  #anim {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 375px) {
  #accueil h1 {
    font-size: 4.5em;
  }
}
@media only screen and (min-width: 426px) {
  main > * {
    translate: 0 -67px;
  }
  header {
    height: 65px;
    border-radius: 32.5px;
    padding: 0 1.5em;
    transform: translateY(-67px);
  }
  header nav {
    font-size: 1.75em;
  }
  header nav #navMenu {
    font-size: 0.7em;
  }
  #accueil h1 {
    font-size: 5em;
  }
  #accueil h2 {
    margin: 0.3em 0 0.9em;
  }
  section:not(#depart) {
    scroll-margin: 87px;
  }
  section:not(#depart) h2:not(form h2) {
    margin: 0 0 0.3em;
    padding-left: 1em;
  }
  #palmares > span > div {
    width: 240px;
    height: 300px;
  }
  #palmares > span > div img {
    height: 300px;
  }
  #palmares > span > div span h3 {
    font-size: 1.35em;
  }
  #palmares > span > div p {
    width: calc(240px - 1.5em);
    height: calc(300px - 5.1em - 1.5em);
    font-size: 0.7em;
  }
  #spotify div {
    flex-flow: row;
    flex-wrap: wrap;
    margin-top: 2em;
    row-gap: 2em;
  }
  #spotify div iframe {
    width: 40%;
    height: 22em;
  }
  #anim {
    font-size: 2.75em;
  }
  #contact form h2 {
    padding: 0.4347826087em;
    text-align: left;
  }
}
@media only screen and (min-width: 530px) {
  .light-theme #navSecondaire > div > a {
    border: none;
    overflow: hidden;
    position: relative;
  }
  .light-theme #navSecondaire > div > a::after {
    transition: opacity 0.4s ease;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    mix-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
  }
  .light-theme #navSecondaire > div > a:hover::after {
    opacity: 1;
    box-shadow: inset 0 0 0 4000px rgba(0, 0, 0, 0.3);
  }
  .light-theme #navSecAccueil {
    background-color: rgba(7, 162, 245, 0.9);
  }
  .light-theme #navSecAccueil::after {
    background-image: url("../img/Placeholders/1.png");
  }
  .light-theme #navSecMoi {
    background-color: rgba(49, 182, 245, 0.9);
  }
  .light-theme #navSecMoi::after {
    background-image: url("../img/Placeholders/2.png");
  }
  .light-theme #navSecSuivre {
    background-color: rgba(60, 126, 196, 0.9);
  }
  .light-theme #navSecSuivre::after {
    background-image: url("../img/Placeholders/3.png");
  }
  .light-theme #navSecSpotify {
    background-color: rgba(29, 115, 175, 0.9);
  }
  .light-theme #navSecSpotify::after {
    background-image: url("../img/Placeholders/4.png");
  }
  .light-theme #navSecAnim {
    background-color: rgba(29, 101, 220, 0.9);
  }
  .light-theme #navSecAnim::after {
    background-image: url("../img/Placeholders/5.png");
  }
  .light-theme #navSecPalma {
    background-color: rgba(0, 83, 216, 0.9);
  }
  .light-theme #navSecPalma::after {
    background-image: url("../img/Placeholders/7.png");
  }
  .light-theme #navSecContact {
    background-color: rgba(16, 54, 255, 0.9);
  }
  .light-theme #navSecContact::after {
    background-image: url("../img/Placeholders/8.png");
  }
  .dark-theme #navSecondaire > div > a {
    border: none;
    overflow: hidden;
    position: relative;
  }
  .dark-theme #navSecondaire > div > a::after {
    transition: opacity 0.4s ease;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    mix-blend-mode: lighten;
    background-size: cover;
    background-position: center;
  }
  .dark-theme #navSecondaire > div > a:hover::after {
    opacity: 0.5;
    box-shadow: inset 0 0 0 4000px rgba(0, 0, 0, 0.3);
  }
  .dark-theme #navSecAccueil {
    background-color: rgba(0, 2, 124, 0.9);
  }
  .dark-theme #navSecAccueil::after {
    background-image: url("../img/Placeholders/sombre/1.png");
  }
  .dark-theme #navSecMoi {
    background-color: rgba(0, 9, 94, 0.9);
  }
  .dark-theme #navSecMoi::after {
    background-image: url("../img/Placeholders/sombre/2.png");
  }
  .dark-theme #navSecSuivre {
    background-color: rgba(0, 97, 161, 0.9);
  }
  .dark-theme #navSecSuivre::after {
    background-image: url("../img/Placeholders/sombre/3.png");
  }
  .dark-theme #navSecSpotify {
    background-color: rgba(3, 27, 70, 0.9);
  }
  .dark-theme #navSecSpotify::after {
    background-image: url("../img/Placeholders/sombre/4.png");
  }
  .dark-theme #navSecAnim {
    background-color: rgba(0, 80, 155, 0.9);
  }
  .dark-theme #navSecAnim::after {
    background-image: url("../img/Placeholders/sombre/5.png");
  }
  .dark-theme #navSecPalma {
    background-color: rgba(0, 50, 131, 0.9);
  }
  .dark-theme #navSecPalma::after {
    background-image: url("../img/Placeholders/sombre/7.png");
  }
  .dark-theme #navSecContact {
    background-color: rgba(0, 25, 136, 0.9);
  }
  .dark-theme #navSecContact::after {
    background-image: url("../img/Placeholders/sombre/8.png");
  }
  #accueil h1 {
    font-size: 6em;
  }
  #accueil h2 {
    margin: 0.5em 0 0.9em 0;
  }
  #navSecondaire > div {
    display: grid;
    grid-template: repeat(4, 1fr) 1.5fr/repeat(2, 1fr) 2fr;
    grid-template-areas: "secAcc secAcc secMoi" "secSuivre secSpotify secMoi" "secSuivre secPalma secMoi" "secSuivre secPalma secMoi" "secAnim secContact secContact";
  }
  #navSecondaire > div > a {
    width: auto;
  }
}
@media only screen and (min-width: 769px) {
  header {
    padding: 0 2em;
  }
  header nav {
    font-size: 2.5em;
  }
  header nav #navMenu {
    font-size: 0.6em;
  }
  #accueil {
    margin: 0;
    margin-left: 10%;
  }
  section:not(#depart) h2:not(form h2) {
    padding-left: 1.5em;
  }
  #spotify div {
    margin-top: 2em;
    row-gap: 1em;
  }
  #spotify div iframe {
    width: 25%;
  }
}
@media only screen and (min-width: 1025px) {
  #accueil {
    margin-left: 15%;
  }
  #accueil h1 {
    font-size: 6.5em;
  }
  section:not(#depart) h2 {
    font-size: 2.5em;
  }
  section:not(#depart) h2:not(form h2) {
    padding-left: 2em;
  }
  #anim {
    font-size: 3em;
  }
}
@media only screen and (min-width: 1280px) {
  #palmares > span > div {
    width: 320px;
    height: 400px;
  }
  #palmares > span > div img {
    height: 350px;
  }
  #palmares > span > div span {
    height: 5em;
  }
  #palmares > span > div span h3 {
    font-size: 1.5em;
  }
  #palmares > span > div p {
    width: calc(320px - 1.5em);
    height: calc(400px - 5em - 1.5em);
    font-size: 1em;
  }
}
@media only screen and (min-width: 2559px) {
  body {
    font-size: 1.5em;
  }
  main > * {
    translate: 0 -87px;
  }
  header {
    width: 48.2832618026%;
    height: 85px;
    padding: 0 2.5em;
    border-radius: 43px;
  }
  header.show {
    transform: translateY(20px);
  }
  #palmares > span > div {
    width: 600px;
    height: 750px;
  }
  #palmares > span > div img {
    height: 750px;
  }
  #palmares > span > div p {
    width: calc(600px - 1.5em);
    height: calc(750px - 1.5em);
    font-size: 1.25em;
  }
}
@keyframes fondAlterAcceuil {
  0% {
    background-image: url(../img/accueil.jpg);
  }
  49% {
    background-image: url(../img/accueil.jpg);
  }
  50% {
    background-image: url(../img/2024-01-30_192441_16.jpg);
  }
  100% {
    background-image: url(../img/2024-01-30_192441_16.jpg);
  }
}
@keyframes titreDisco {
  from {
    filter: hue-rotate(0);
    filter: brightness(1);
  }
  to {
    filter: hue-rotate(100deg);
    filter: brightness(1.4);
  }
}
@keyframes themeJN {
  from {
    filter: brightness(10);
  }
  to {
    filter: brightness(1);
  }
}
@keyframes flashAnim {
  from {
    filter: brightness(80);
  }
  50% {
    filter: brightness(80);
  }
  to {
    filter: brightness(0);
  }
}
@keyframes blend {
  to {
    background-position: 500% 100%;
  }
}
@keyframes ahOui {
  to {
    filter: hue-rotate(360deg);
  }
}
@keyframes rot {
  to {
    rotate: 360deg;
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.wip::after {
  vertical-align: top;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0.4em;
  font-weight: 200;
  content: "Work in progress";
}

form h2::after {
  font-size: 0.3em;
  content: "Ce form ne fait actuellement rien";
  margin-left: 0.2em;
  vertical-align: super;
}

.formTemp {
  width: fit-content;
  margin: 4em auto 0;
  text-align: center;
}
.formTemp > a {
  color: greenyellow;
  text-shadow: 0 0 0.75em black;
}

/*# sourceMappingURL=style.css.map */
