@import url("https://fonts.googleapis.com/css2?family=Jacquard+12&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  font-family: "Roboto", Arial, sans-serif;
  background-color: rgb(245, 245, 245);
}

main > * {
  translate: 0 -65px;
}

.wip::after {
  vertical-align: top;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0.4em;
  font-weight: 200;
  content: "Work in progress";
}

.link {
  display: inline-block;
  cursor: url("../img/link_curs.png"), pointer;
}

#depart {
  height: 100vh;
  animation: fondAlterAcceuil 15s infinite alternate;
  transition: opacity 5s ease-in-out, background-image 0s;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 4000px rgba(0, 0, 0, 0.3);
  align-content: center;
}

#accueil {
  color: white;
  font-family: Arial, sans-serif;
  width: 75.1072961373%;
  margin: 0 auto;
}
#accueil h1 {
  font-size: 5em;
  font-family: "Jacquard 12", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  text-shadow: 0 0.05em #88DFF2, 0em 0em 0.1em #88DFF2, 0em 0em 0.4em #88DFF2;
  margin: 0 0 0 0.2em;
  width: fit-content;
}
#accueil h1:hover {
  animation: titreDisco 2.5s infinite alternate ease-in-out;
}
#accueil h2 {
  margin: 0 0 0.9em 0;
  font-weight: 200;
}
#accueil a {
  display: inline-block;
  text-align: center;
  font-size: 1.25em;
  padding: 0.45em;
  font-variant-caps: small-caps;
  color: #88DFF2;
  border: solid 0.15em #88DFF2;
  background-color: rgba(5, 108, 242, 0.2);
  margin-left: 7em;
  transition: 0.5s;
}
#accueil a:hover {
  font-size: 1.5em;
  margin-left: 5.25em;
  color: rgb(181.9772727273, 235.3636363636, 247.0227272727);
  background-color: rgba(97.2591093117, 164.3967611336, 251.7408906883, 0.2);
  box-shadow: 0 0 1em black, 0 0 3em rgb(245, 245, 245);
  border: solid 0.15em rgb(181.9772727273, 235.3636363636, 247.0227272727);
  border-radius: 2px;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  opacity: 0;
  transform: translateY(-65px);
  margin: 0 auto;
  width: 83.1545064378%;
  padding: 0 2em;
  height: 65px;
  border-radius: 32.5px;
  background-color: rgba(30, 33, 89, 0.6);
  color: white;
  box-shadow: 0 0.4em 1.75em rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7.5px);
  align-content: center;
  transition: opacity 0.5s ease-in, transform 0.75s ease-in;
}
header.show {
  opacity: 1;
  transform: translateY(10px);
}
header nav > div {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  font-size: 2.5em;
}
header nav > div div a {
  color: white;
  transition: 0.2s ease-out;
}
header nav > div div a:hover {
  text-shadow: 0 0.05em #88DFF2, 0em 0em 0.1em #88DFF2, 0em 0em 0.4em #88DFF2;
}
header nav > div div:last-child {
  text-align: end;
}

section:nth-child(even) {
  background-color: #cacaca;
  box-shadow: 0px -0.01em 2.5em rgba(0, 0, 0, 0.2);
  border-top: solid 0.01em rgba(100, 100, 100, 0.2);
}
section:not(#depart) {
  scroll-margin-top: 80px;
  padding: 3em 0;
}
section:not(#depart) h2 {
  margin-top: 0;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2.5em;
  padding-left: 2em;
}

#navSecAccueil {
  grid-area: secAcc;
  background-color: darkkhaki;
}

#navSecMoi {
  grid-area: secMoi;
  background-color: cornsilk;
}

#navSecSuivre {
  grid-area: secSuivre;
  background-color: floralwhite;
}

#navSecSpotify {
  grid-area: secSpotify;
  background-color: burlywood;
}

#navSecAnim {
  grid-area: secAnim;
  background-color: khaki;
}

#navSecJV {
  grid-area: secJV;
  background-color: bisque;
}

#navSecPalma {
  grid-area: secPalma;
  background-color: antiquewhite;
}

#navSecContact {
  grid-area: secContact;
  background-color: blanchedalmond;
}

#navSecTxt {
  grid-area: secTxt;
  text-align: end;
  padding: 0 0.4em;
}

#navSecondaire > div {
  padding: 0 1em;
  font-weight: bold;
  font-size: 2em;
  font-variant-caps: all-petite-caps;
  display: grid;
  grid-template: repeat(4, 1fr) 1.5fr/repeat(2, 1fr) 2fr;
  grid-template-areas: "secAcc secAcc secMoi" "secSuivre secSpotify secMoi" "secAnim secPalma secMoi" "secJV secPalma secMoi" "secTxt secTxt secContact";
}
#navSecondaire > div > a {
  color: #88DFF2;
  padding: 0.4em;
  text-align: center;
  align-content: center;
  border-radius: 15px;
}
#navSecondaire > div > a:hover {
  color: #88DFF2;
  background-color: rgb(97.2591093117, 164.3967611336, 251.7408906883);
  text-shadow: 0 0 1em black, 0 0 3em rgb(245, 245, 245);
}

#linkTree > div {
  width: fit-content;
  margin: 0 auto;
  display: grid;
  font-size: 1.25em;
  grid-template: 150px/repeat(8, 150px);
  justify-items: center;
  align-items: center;
}
#linkTree > div > span {
  text-align: center;
  padding: 0.2em;
}
#linkTree > div > span:hover {
  box-shadow: 0 1em 1em #000;
}
#linkTree > div > span > a {
  height: fit-content;
  width: fit-content;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  text-transform: capitalize;
  font-weight: bolder;
  color: black;
}

#palmares > div {
  width: 85.8369098712%;
  height: 420px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#palmares > div a {
  transition: 0.5s ease-in-out;
  color: black;
  width: 20%;
  cursor: pointer;
}
#palmares > div a:hover {
  font-size: 1.3em;
  translate: 0 -5px;
  width: 22%;
}
#palmares > div a div {
  text-transform: uppercase;
  line-height: 1em;
  background-color: white;
  border-radius: 10px;
  height: 400px;
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
#palmares > div a div:hover {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.5);
  height: 410px;
}
#palmares > div a div h3 {
  height: 30px;
  padding: 0.6em;
}
#palmares > div a div img {
  float: initial;
  width: 100%;
}

#spotify a {
  color: black;
}
#spotify a:hover {
  text-shadow: 0 0 0.1em rgba(0, 128, 0, 0.2), 0em 0em 0.1em rgba(144, 238, 144, 0.1), 0em 0em 0.4em rgba(144, 238, 144, 0.1);
}
#spotify div {
  width: 1600, 1864;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#spotify div iframe {
  width: 20%;
}

#anim {
  width: fit-content;
  margin: 0 auto;
  font-size: 3em;
  font-weight: 600;
  transition: 0.3s ease-out;
}
#anim.scale {
  scale: 0.95 0.95;
}

.letAnim {
  display: inline-block;
  animation: transform 0.2s ease-out, translate 1s ease-in-out, color 3s ease-in-out;
}
.letAnim.animat {
  transform: scaleX(0.8) skewX(3deg);
  translate: 0 -0.15em;
}
.letAnim.reset {
  transform: scaleX(1) skewX(0);
  translate: 0 0;
  transition: 1.05s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes fondAlterAcceuil {
  0% {
    background-image: url(../img/accueil.jpg);
  }
  49% {
    background-image: url(../img/accueil.jpg);
  }
  50% {
    background-image: url(../img/2024-01-30_192441_16.jpg);
  }
  100% {
    background-image: url(../img/2024-01-30_192441_16.jpg);
  }
}
@keyframes titreDisco {
  from {
    filter: hue-rotate(0);
    filter: brightness(1);
  }
  to {
    filter: hue-rotate(100deg);
    filter: brightness(1.25);
  }
}
