@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pirata+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//Calcul de la taille des éléments en %
$ratio: 1864;
@function pxToPrct($target, $context) {
  @return math.div($target, $context) * 100%;
}

//Définitions des couleurs
$colorMain: #056CF2;
$colorMainSurvol: lighten($colorMain, 20%);
$colorSecondaire: #88DFF2;
$colorSecondaireSurvol: lighten($colorSecondaire, 10%);
$colorMainSombre: #1e2159;
$colorMainSombreSurvol: lighten($colorMainSombre,20%);
$colorSecondaireSombre: #0700c7;
$colorSecondaireSombreSurvol: lighten($colorSecondaireSombre,50%);
$fondPrincipal: #E2E1E7;
$fondPrincipalSombre: #888;
$fondSecondaire: #D2D9DF;
$fondSecondaireSombre: #002a74;
$fondTiercaire: #80c8ff;
$fondTiercaireSombre: #000e25;
$borderMiseAvantSurvol:  0 0 0.5em black,0 0 3em rgb(245, 245, 245);
$fondSombre: inset 0 0 0 4000px rgba(0, 0, 0, 0.3);
$fondClair:  inset 0 0 0 4000px rgba(255, 255, 255, 0.15);
$fondTresClair:  inset 0 0 0 4000px rgba(255, 255, 255, 0.4);

//Normalize/Reset personnel
h3{
    margin: 0;
}
a{
    text-decoration: none;
}
html{
    font-family: "Roboto" , Arial, sans-serif;
    background-color: rgb(245, 245, 245);
    background: linear-gradient(180deg,$fondPrincipal 0%, $fondSecondaire 75%, $fondTiercaire 100%);
}

//Theme clair
.light-theme{
    & .animVague{
        &::before,&::after{
            background-color: $colorMainSurvol;
        }
    }
    & header{
        background-color: rgba($colorMain,0.4);
        & a:hover{
            text-shadow:0 0.05em $colorMainSurvol,0em 0em 0.1em $colorMainSurvol, 0em 0em 0.4em $colorMainSurvol;
        }
    }
    & section{
        &:nth-child(odd){
            box-shadow:$fondTresClair, 0px -0.01em 2.5em rgba(0, 0, 0, 0.05);
            border-top: solid 0.01em rgba(100, 100, 100, 0.08);
        }
    }
    & #navSecAccueil:hover{
        background-image: url('../img/Placeholders/1.png');
    }
    & #navSecMoi:hover{
        background-image: url('../img/Placeholders/2.png');
    }
    & #navSecSuivre:hover{
        background-image: url('../img/Placeholders/3.png');
    }
    & #navSecSpotify:hover{
        background-image: url('../img/Placeholders/4.png');
    }
    & #navSecAnim:hover{
        background-image: url('../img/Placeholders/5.png');
    }
    & #navSecPalma:hover{
            background-image: url('../img/Placeholders/7.png');
    }
    & #navSecContact:hover{
        background-image: url('../img/Placeholders/8.png');
    }
    & #navSecondaire{
        background: radial-gradient(circle, $colorMain 0%, $colorSecondaire 100%);
        background-size: 500% 100%;
        box-shadow: $fondTresClair;
        animation: blend infinite 90s;
        &a:hover{
            color: $colorSecondaire;
            text-shadow: $borderMiseAvantSurvol;
        }
    }
    & #linkTree{
        &>div>a{
            color: $colorMain;
            border: $colorMain solid 0.1em;
            &:hover{
                color: white;
                background-color: $colorMain;
                box-shadow: 0 0.06em 1.25em rgba(0, 0, 0, 0.4);
            }
        }
    }
    & #palmares{
        &>span{
            & a{
            color: black;
            }
            & div{
                background-color: white;
                box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1);
                &:hover{
                    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
    & #spotify a{
        color: black;
    }
    & #contact{
        & form{
            background-color: white;
            border: 1px solid black;
            box-shadow: -0.6em 0.6em 0 rgba($color: #000000, $alpha: 0.26);
            & h2{
                border-bottom: 1px solid black;
            }
            & span{
                & input,textarea{
                    border: 0.125em solid rgba(0, 0, 0, 0.6);
                    background-color: lightgrey;
                }
            }
        }
    }
}

//Theme Sombre
.dark-theme{
    background: linear-gradient(180deg, $fondPrincipalSombre 0%, $fondSecondaireSombre 75%, $fondTiercaireSombre 100%);
    color: white;
    & .animVague{
        &::before,&::after{
            background-color: $colorSecondaireSombre;
        }
    }
    & header{
        background-color: rgba($colorMainSombre,0.4);
        & a:hover{
            text-shadow:0 0.1em $colorMainSombreSurvol,0em 0em 0.1em $colorSecondaireSombreSurvol, 0em 0em 0.4em $colorSecondaireSombreSurvol;
        }
    }
    & section{
        &:nth-child(odd){
            box-shadow: $fondSombre,  0px -0.01em 2.5em rgba($color: black, $alpha: 0.05);
            border-top: solid 0.01em rgba(50,50,50, 0.08);
        }
    }
    & #navSecAccueil:hover{
        background-image: url('../img/Placeholders/sombre/1.png');
    }
    & #navSecMoi:hover{
        background-image: url('../img/Placeholders/sombre/2.png');
    }
    & #navSecSuivre:hover{
        background-image: url('../img/Placeholders/sombre/3.png');
    }
    & #navSecSpotify:hover{
        background-image: url('../img/Placeholders/sombre/4.png');
    }
    & #navSecAnim:hover{
        background-image: url('../img/Placeholders/sombre/5.png');
    }
    & #navSecPalma:hover{
        background-image: url('../img/Placeholders/sombre/7.png');
    }
    & #navSecContact:hover{
        background-image: url('../img/Placeholders/sombre/8.png');
    }
    & #navSecondaire{
        background: radial-gradient(circle, $colorMainSombre 0%, $colorSecondaireSombre 100%);
        background-size: 500% 100%;
        animation: blend infinite 90s;
        box-shadow: $fondClair;
        & a:hover{
            color: $colorSecondaireSombreSurvol;
            text-shadow: $borderMiseAvantSurvol;
        }
    }
    & #linkTree{
        &>div>a{
            color: $colorSecondaireSombreSurvol;
            border: $colorSecondaireSombreSurvol solid 0.1em;
            &:hover{
                color: $colorMainSombre;
                background-color: $colorSecondaireSombreSurvol;
                box-shadow: 0 0.06em 1.25em rgba(10, 10, 10, 0.5);
            }
        }
    }
    & #palmares{
        &>span{
            & a{
            color: white;
            }
            & div{
                background-color: $colorMainSombre;
                box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.3);
                &:hover{
                    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
    & #spotify{
        & a{
            color: white;
        }
    }
    & #contact{
        & form{
            background-color: $fondTiercaireSombre;
            border: 1px solid white;
            box-shadow: -0.6em 0.6em 0 rgba($color: #ffffff, $alpha: 0.26);
            & h2{
                border-bottom: 1px solid white;
            }
            & span{
                & input,textarea{
                    border: 0.125em solid rgba(255, 255, 255, 0.6);
                    background-color: grey;
                    color: white;
                    &::placeholder{
                        color: white;
                    }
                }
            }
        }
    }
}

//Themes et utilitaires
.unselect{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hidden{
    display: none;
}
.invert{
    filter: invert(100%);
}
.wow{
    animation: ahOui 1s  infinite linear;
}
.flash{
    animation: flashAnim 6s linear;
}
.animVague{
        overflow: clip;
        position: relative;
        &::before,&::after{
            content: '';
            width: 150%;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -10;
            aspect-ratio: 1;
            translate: -50% 0;
            border-top-left-radius: 60% 80%;
            border-top-right-radius: 70% 50%;
            border-bottom-left-radius: 30% 80%;
            border-bottom-right-radius: 70% 65%;
            mix-blend-mode: multiply;
            animation: rot 100s linear infinite;
        }
        &::after{
            animation-delay: -10s;
            animation-duration: 90s;
        }
}
.link{
    display: inline-block;
    cursor: url('../img/link_curs.png'), pointer;
}
.letAnim{
    display: inline-block;
    animation: transform 0.2s ease-out, translate 1s ease-in-out, color 3s ease-in-out;
    &.animat{
        transform: scaleX(0.8) skewX(3deg);
        translate: 0 -0.15em;
    }
    &.reset{
        transform: scaleX(1) skewX(0);
        translate: 0 0;
        transition: 1.05s cubic-bezier(0.68,-0.55,0.27,1.55);
    }
}

//Mise en page du site
//mobile s
@media only screen and (min-width: 0px){
    main {
        &>*{
            //adaptation selon la nav.
            translate:0  -42px;
        }
    }
    .light-theme{
        & #navSecAccueil,#navSecMoi,#navSecSuivre,#navSecSpotify,#navSecAnim,#navSecJV,#navSecPalma,#navSecContact{
            background-color: rgba($colorMain, $alpha: 0.5);
            border: 2px solid rgba($colorMainSombre, $alpha: 0.8);
        }
    }
    .dark-theme{
        & #navSecAccueil,#navSecMoi,#navSecSuivre,#navSecSpotify,#navSecAnim,#navSecJV,#navSecPalma,#navSecContact{
            background-color: rgba($colorMainSombre, $alpha: 0.5);
            border: 2px solid rgba($colorMainSombreSurvol, $alpha: 0.8);
        }
    }
    header{
        height: 40px;
        width: pxToPrct(1550, $ratio);
        margin: 0 auto;
        padding: 0 1em;
        align-content: center;
        position: sticky;
        top: 0;
        z-index: 1;
        opacity: 0;
        color: white;
        border: 1px solid rgba(255,255,255,.06);
        border-radius: 20px;
        box-shadow: 0 0.4em 1.75em rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        transform: translateY(-40px);
        transition: opacity 0.5s ease-in, 0.5s transform cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
        &.show{
            opacity: 1;
            transform: translateY(10px);
        }
        & nav{
            display: grid;
            grid-template:1fr / fit-content(1em) 1fr;
            font-size: 1.3em;
            & #navMenu{
                font-size: 0.85em;
            }
            & div{
                & a{
                    font-family: 'Pirata One', 'Arial Narrow', Arial, sans-serif;
                    color: white;
                    transition: 0.2s ease-in;
                }
            }
        }
    }
    #navMenu{
        display: flex;
        flex-wrap: wrap;
        gap: 0.1em 1em;
        justify-content: end;
        justify-items: center;
        align-items: center;
        & a{
            font-family: "Roboto", Arial, Helvetica, sans-serif;
            width: fit-content;
            height: fit-content;
        }
    }
    #theme{
        border-radius: 0.5625em;
        &:hover{
            animation: themeJN infinite 1s alternate ease-in;
            box-shadow: $borderMiseAvantSurvol;
        }
    }
    #depart{
        height: 100vh;
        align-content: center;
        //Rotation d'images de fond du site.
        animation: fondAlterAcceuil 15s infinite alternate;
        transition: opacity 5s ease-in-out, background-image 0s;
        background-size: cover;
        background-position: center;
        //Filtre sur l'image de fond pour la lecture
        box-shadow: $fondSombre;
    }
    #flashbang{
        margin: 2em auto 0;
        padding: 0.8em;
        opacity: 0.1;
        filter: blur(1px);
        border-radius: 15px;
        background-color: rgba($colorMain, $alpha: 1);
        width: fit-content;
        text-align: center;
    }
    #accueil{
        color: white;
        font-family: Arial, sans-serif;
        width: fit-content;
        text-align: center;
        margin: 0 auto;
        & h1{
            font-size: 3.5em;
            font-family: "Pirata One", 'Arial Narrow', Arial, sans-serif;
            text-shadow: 0 0.05em $colorSecondaire,0em 0em 0.1em $colorSecondaire, 0em 0em 0.4em $colorSecondaire;
            margin: 0;
            &:hover{
                animation: titreDisco 1.25s infinite alternate ease-in-out;
            }    
        }
        & h2{
            font-size: 1.3em;
            margin: 0.15em 0.7em 1em;
            font-weight: 200;
        }
        & a{
            font-size: 1.25em;
            padding: 0.45em;
            font-variant-caps: small-caps;
            color: $colorSecondaire;
            border: solid 0.15em $colorSecondaire;
            background-color: rgba($colorMain, 0.2);
            transition: 0.5s;
            &:hover{
                font-size: 1.5em;
                color: $colorSecondaireSurvol;
                background-color: rgba($colorMainSurvol, 0.2);
                box-shadow:$borderMiseAvantSurvol;
                border: solid 0.15em $colorSecondaireSurvol;
                border-radius: 2px;
            }
        }    
    }
    #navMenu{
        gap: 0.1em 0.5em
    }
    #navSecAccueil{
    grid-area: secAcc;
    }
    #navSecMoi{
        grid-area: secMoi;
    }
    #navSecSuivre{
        grid-area: secSuivre;
    }
    #navSecSpotify{
        grid-area: secSpotify;
    }
    #navSecAnim{
        grid-area: secAnim;
    }
    #navSecPalma{
        grid-area: secPalma;
    }
    #navSecContact{
        grid-area: secContact;
    }
    #navSecTxt{
        grid-area: secTxt;
        text-align: end;
        padding: 0 0.4em;
        display: none;
    }
    #navSecondaire{
        color: white;
        &>div{
            padding: 0 1em;
            font-weight: bold;
            font-size: 2em;
            font-variant-caps: all-petite-caps;
            display: flex;
            flex-wrap: wrap;
            &>a{
                color: white;
                width: 100%;
                padding: 0.4em;
                margin: 0.1em;
                border-radius: 15px;
                text-align: center;
                align-content: center;
                background-size: cover;
                background-position: center;
                &:hover{
                    box-shadow: $fondSombre;
                }
            }
        }
    }
    section{
        &:not(#depart){
            font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
            scroll-margin-top: 60px;
            margin-top: 0;
            padding:3em 0;
            & h2{
                font-size: 2em;
                &:not(form h2){
                    width: fit-content;
                    margin: 0 auto 0.3em;
                }
            }
        }
    }
    #moi{
        & h2{
            width: fit-content;
            &:hover::after{
                content: 'I built this page brick by brick';
                font-family: 'pirata one';
            }
        }
    }
    //LinkTree un peu mieux mais toujours pas au top
    #linkTree{
        >div{
            width: pxToPrct(1600, $ratio);
            margin: 0 auto;
            font-size: 1.25em;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: center;
            gap: 0.8em pxToPrct(50, $ratio);
            &>a{
                width: fit-content;
                padding: 0.6em;
                font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
                font-weight: light;
                border-radius: 1.2em;
                transition: box-shadow 0.5s ease-out, background 0.25s ease;
            }
        }
    }
    #palmares{
        &>span{
            width: pxToPrct(1600, $ratio);
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            &>div{
                width: 100%;
                height: 250px;
                border-radius: 1em;
                margin: 1em;
                display: flex;
                flex-direction: column;
                align-content: flex-end;
                overflow: hidden;
                transition: transform 0.5s ease-in-out, box-shadow 1.5s ease-out;
                &:hover{
                    transform: scale(1.05);
                }
                & img{
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                    overflow: hidden;
                }
                & span{
                    display: block;
                    & h3{
                        margin-bottom: 0.35rem;
                        padding: 0.5em;
                        font-size: 1.3em;
                        text-transform: uppercase;
                        line-height: 1em;
                    }            
                }
            }
        }
    }
    #spotify{
        & a:hover{
            text-shadow: 0 0 0.1em rgba(0, 128, 0, 0.2),0em 0em 0.1em rgba(144, 238, 144,0.1), 0em 0em 0.4em rgba(144, 238, 144,0.1);
        }    
        & div{
            width: pxToPrct(1600,$ratio);
            margin: 0 auto;
            margin-top: 1em;
            display: flex;
            flex-flow: column;
            gap: 1em;
            justify-content: space-evenly;
            & iframe{
                width: 85%;
                height: 9.5em;
                margin: 0 auto;
                border-radius: 1em;
            }
        }
    }
    #anim{
        width: fit-content;
        margin: 0 auto;
        font-size: 2em;
        font-weight: 600;
        transition: 0.3s ease-out;
        &.scale{
            scale: 0.95 0.95;
        }
    }
    #contact{
        & form{
            width: pxToPrct(980, $ratio);
            margin: 0 auto;
            font-family: 'Roboto', Courier, monospace;
            & h2{
                margin: 0;
                padding: 0.5em;
                text-align: center;
            }
            & span{
                display: flex;
                flex-direction: column;
                padding: 1.25em;
                & input,textarea{
                    padding: 0.3125em;
                    margin-top: 0.625em;
                }
                & input{
                    &[type=submit]{
                        align-self: flex-end;
                    }
                }
                & textarea {
                    min-height: 3.125em;
                    resize: vertical;
                }
            }
        }
    }
}

//Mobile L
@media only screen and (min-width: 321px) {
    main {
        &>*{
            //adaptation selon la nav.
            translate:0  -62px;
        }
    }
    #accueil{
        & h1{
            font-size: 4em;
        }
        & h2{
            font-size: 1.5em;
            margin: 0.15em 0.7em 1em;
        }
    }
    header{
        height: 60px;
        border-radius: 31px;
        padding: 0 1.2em;
        transform: translateY(-62px);
        & nav{
            font-size: 1.5em;
            & #navMenu{
                font-size: 0.8em;
            }
        }
    }
    section{
        &:not(#depart){
            scroll-margin-top: 82px;
            & h2{
                font-size: 2.5em;
                &:not(form h2){
                    margin: 0 auto 0.5em;
                }
            }
        }
    }
    #palmares>span>div{
        height: 325px;
        & img{
            height: 325px;
        }
        & h3{
            font-size: 1.5em;
        }
    }
    #spotify{
        & div{
            margin-top: 1.25em;
            gap: 1.25em;
            & iframe{
                height: 10em;
            }
        }
    }
    #anim{
        font-size: 2.5em;
    }
}
@media screen and (min-width: 375px) {
    #accueil{
        & h1{
            font-size: 4.5em;
        }
    }
}

//Tablet
@media only screen and (min-width: 426px) {
    main {
        &>*{
            translate: 0 -67px;
        }
    }
    header{
        height: 65px;
        border-radius: 32.5px;
        padding: 0 1.5em;
        transform: translateY(-67px);
        & nav{
            font-size: 1.75em;
            & #navMenu{
                font-size: 0.7em;
            }
        }
    }
    #accueil{
        & h1{
            font-size: 5em;
        }
        & h2{
            margin: 0.3em 0 0.9em;
        }
    }
    section{
        &:not(#depart){
            scroll-margin: 87px;
            & h2:not(form h2){
                margin: 0 0 0.3em;
                padding-left: 1em;
            }
        }
    }
    #palmares>span>div{
        width: 240px;
        height: 300px;
        & img{
            height: 300px;
        }
        & span{
            display: block;
            height: 5.1em;
            & h3{
                font-size: 1.35em;
            }
        }
    }
    #spotify{
        & div{
            flex-flow: row;
            flex-wrap: wrap;
            margin-top: 2em;
            row-gap: 2em;
            & iframe{
                width: 40%;
                height: 22em;
            }
        }
    }
    #anim{
        font-size: 2.75em;
    }
    #contact{
        form{
            & h2{
                padding: 0.4347826086956522em;
                text-align: left;
            }
        }
    }
}
//Nav secondaire
@media only screen and (min-width:530px) {
    .light-theme{
        & #navSecondaire>div>a{
            border: none ;
        }
        & #navSecAccueil{
            background-color:rgba($color:#07A2F5 , $alpha: 0.9) ;
        }
        & #navSecMoi{
            background-color:rgba($color:#31B6F5 , $alpha: 0.9) ;
        }
        & #navSecSuivre{
            background-color:rgba($color:#3C7EC4 , $alpha: 0.9) ;
        }
        & #navSecSpotify{
            background-color:rgba($color:#1D73AF , $alpha: 0.9) ;
        }
        & #navSecAnim{
            background-color:rgba($color:#1D65DC , $alpha: 0.9) ;
        }
        & #navSecPalma{
            background-color:rgba($color:#0053d8 , $alpha: 0.9) ;
        }
        & #navSecContact{
            background-color:rgba($color:#1036FF , $alpha: 0.9) ;
        }
    }
    .dark-theme{
        & #navSecondaire>div>a{
            border: none;
        }
        & #navSecAccueil{
            background-color:rgba($color:#00027c , $alpha: 0.9) ;
        }
        & #navSecMoi{
            background-color:rgba($color:#00095e , $alpha: 0.9) ;
        }
        & #navSecSuivre{
            background-color:rgba($color:#0061a1 , $alpha: 0.9) ;
        }
        & #navSecSpotify{
            background-color:rgba($color:#031b46 , $alpha: 0.9) ;
        }
        & #navSecAnim{
            background-color:rgba($color:#00509b , $alpha: 0.9) ;
        }
        & #navSecPalma{
            background-color:rgba($color:#003283 , $alpha: 0.9) ;
        }
        & #navSecContact{
            background-color:rgba($color:#001988 , $alpha: 0.9) ;
        }
    }
    #accueil{
        & h1{
            font-size: 6em;
        }
        & h2{
            margin: 0.5em 0 0.9em 0;
        }
    }
    #navSecTxt{
        display: inline;
        align-content: center;
    }
    #navSecondaire{
        &>div{
            display: grid;
            grid-template: repeat(4,1fr) 1.5fr/ repeat(2,1fr) 2fr;
            grid-template-areas:'secAcc secAcc secMoi'
                                'secSuivre secSpotify secMoi'
                                'secSuivre secPalma secMoi'
                                'secAnim secPalma secMoi'
                                'secTxt secTxt secContact';
            &>a{
                width: auto;
            }
        }
    }
}
//laptop
@media only screen and (min-width: 769px) {
    header{
        padding: 0 2em;
        & nav{
            font-size: 2.5em;
            & #navMenu{
                font-size: 0.6em;
            }
        }
    }
    #accueil{
        margin: 0;
        margin-left: 10%;
    }
    section{
        &:not(#depart){
            & h2:not(form h2){
                padding-left: 1.5em;
            }
        }
    }
    #spotify{
        & div{
            margin-top: 2em;
            row-gap: 1em;
            & iframe{
                width: 25%;
            }
        }
    }
}

//lg
@media only screen and (min-width: 1025px) {
    #accueil{
        margin-left: 15%;
        & h1{
            font-size: 6.5em;
        }
    }
    section{
        &:not(#depart){
            & h2{
                font-size: 2.5em;
                &:not(form h2){
                    padding-left: 2em;
                }
            } 
        }
    }
    #anim{
        font-size: 3em;
    }
}

//xl
@media only screen and (min-width: 1280px) {
    #palmares>span>div{
        width: 320px;
        height: 400px;
        & img{
            height: 350px;
        }
        & span{
            height: 5em;
            & h3{
                font-size: 1.5em;                    
            }
        }
    }
}

//xxl
@media only screen and (min-width: 2559px) {
    body{
        font-size: 1.5em;
    }
    main{
        &>*{
            translate: 0 -87px;
        }
    }
    header{
        width: pxToPrct(900,$ratio);
        height: 85px;
        padding: 0 2.5em;
        border-radius: 43px;
        &.show{
            transform: translateY(20px);
        }
    }
    #palmares>span>div{
        width: 600px;
        height: 750px;
        & img{
            height: 750px;
        }
    }
}

//Animations
@keyframes fondAlterAcceuil{
    0%{background-image: url(../img/accueil.jpg);}
    49%{background-image: url(../img/accueil.jpg);}
    50%{background-image: url(../img/2024-01-30_192441_16.jpg);}
    100%{background-image: url(../img/2024-01-30_192441_16.jpg);}
}
@keyframes titreDisco {
    from{
        filter: hue-rotate(0);
        filter: brightness(1);
    }
    to{
        filter: hue-rotate(100deg);
        filter: brightness(1.4);
    }
}
@keyframes themeJN {
    from{
        filter: brightness(10);
    }
    to{
        filter: brightness(1);
    }
}
@keyframes flashAnim {
    from{
        filter: brightness(80);
    }
    50%{
        filter: brightness(80);
    }
    to{
        filter: brightness(0);
    }
}
@keyframes blend{
    to{
        background-position: 500% 100%;
    }
}
@keyframes ahOui {
    to{
        filter: hue-rotate(360deg);
    }
}
@keyframes rot{
    to{
        rotate: 360deg;
    }
}
//À Retirer une fois le code fini
.wip{
    &::after{
        vertical-align: top;
        font-family: "Roboto" , Arial, sans-serif;
        font-size: 0.4em;
        font-weight: 200;
        content:'Work in progress';
    }
}

form::after{
    content: 'Ce form ne fait actuellement rien';
    margin-top: 1em;
}