@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pirata+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//Calcul de la taille des éléments en %
$ratio: 1864;
@function pxToPrct($target, $context) {
  @return math.div($target, $context) * 100%;
}

//Définitions des couleurs

$colorMain: #056CF2;
$colorMainSurvol: lighten($colorMain, 20%);
$colorSecondaire: #88DFF2;
$colorSecondaireSurvol: lighten($colorSecondaire, 10%);
$colorMainSombre: #1e2159;
$colorMainSombreSurvol: lighten($colorMainSombre,20%);
$colorSecondaireSombre: #0700c7;
$colorSecondaireSombreSurvol: lighten($colorSecondaireSombre,50%);
$fondPrincipal: #E2E1E7;
$fondPrincipalSombre: #888;
$fondSecondaire: #D2D9DF;
$fondSecondaireSombre: #002a74;
$fondTiercaire: #739EBE;
$fondTiercaireSombre: #000e25;
$borderMiseAvantSurvol:  0 0 0.5em black,0 0 3em rgb(245, 245, 245);
$fondSombre: inset 0 0 0 4000px rgba(0, 0, 0, 0.3);
$fondClair:  inset 0 0 0 4000px rgba(255, 255, 255, 0.15);
$fondTresClair:  inset 0 0 0 4000px rgba(255, 255, 255, 0.4);

//Normalize/Reset personnel
h3{
    margin: 0;
}
a{
    text-decoration: none;
}
html{
    font-family: "Roboto" , Arial, sans-serif;
    background-color: rgb(245, 245, 245);
    background: linear-gradient(180deg,$fondPrincipal 0%, $fondSecondaire 75%, $fondTiercaire 100%);
}
main {
    &>*{
        //adaptation selon la nav.
        translate:0  -67px;
    }
}
//Theme clair
.light-theme{
    & .animVague{
        &::before,&::after{
            background-color: $colorMainSurvol;
        }
    }
    & header{
        background-color: rgba($colorMain,0.4);
        & a:hover{
            text-shadow:0 0.05em $colorMainSurvol,0em 0em 0.1em $colorMainSurvol, 0em 0em 0.4em $colorMainSurvol;
        }
    }
    & section{
        &:nth-child(odd){
            box-shadow:$fondTresClair, 0px -0.01em 2.5em rgba(0, 0, 0, 0.05);
            border-top: solid 0.01em rgba(100, 100, 100, 0.08);
        }
    }
    & #navSecAccueil{
        background-color: #07A2F5;
        &:hover{
            background-image: url('../img/Placeholders/1.png');
        }
    }
    & #navSecMoi{
        background-color: #31B6F5;
        &:hover{
            background-image: url('../img/Placeholders/2.png');
        }
    }
    & #navSecSuivre{
        background-color: #3C7EC4;
        &:hover{
            background-image: url('../img/Placeholders/3.png');
        }
    }
    & #navSecSpotify{
        background-color: #1D73AF;
        &:hover{
            background-image: url('../img/Placeholders/4.png');
        }
    }
    & #navSecAnim{
        background-color: #1D65DC;
        &:hover{
            background-image: url('../img/Placeholders/5.png');
        }
    }
    & #navSecJV{
        background-color: #153773;
        &:hover{
            background-image: url('../img/Placeholders/6.png');
        }
    }
    & #navSecPalma{
        background-color: #0053d8;
        &:hover{
            background-image: url('../img/Placeholders/7.png');
        }
    }
    & #navSecContact{
        background-color: #1036FF;
        &:hover{
            background-image: url('../img/Placeholders/8.png');
        }
    }
    & #navSecondaire{
        background: radial-gradient(circle, $colorMain 0%, $colorSecondaire 100%);
        background-size: 500% 100%;
        box-shadow: $fondTresClair;
        animation: blend infinite 90s;
        &a:hover{
            color: $colorSecondaire;
            text-shadow: $borderMiseAvantSurvol;
        }
    }
    & #linkTree{
        &>div>a{
            color: $colorMain;
            border: $colorMain solid 0.1em;
            &:hover{
                color: white;
                background-color: $colorMain;
                box-shadow: 0 0.06em 1.25em rgba(0, 0, 0, 0.4);
            }
        }
    }
    & #palmares{
        &>span{
            & a{
            color: black;
            }
            & div{
                background-color: white;
                box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1);
                &:hover{
                    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
    & #spotify a{
        color: black;
    }
}

//Theme Sombre
.dark-theme{
    background: linear-gradient(180deg, $fondPrincipalSombre 0%, $fondSecondaireSombre 75%, $fondTiercaireSombre 100%);
    color: white;
    & .animVague{
        &::before,&::after{
            background-color: $colorMainSombreSurvol;
        }
    }
    & header{
        background-color: rgba($colorMainSombre,0.4);
        & a:hover{
            text-shadow:0 0.1em $colorMainSombreSurvol,0em 0em 0.1em $colorSecondaireSombreSurvol, 0em 0em 0.4em $colorSecondaireSombreSurvol;
        }
    }
    & section{
        &:nth-child(odd){
            box-shadow: $fondSombre,  0px -0.01em 2.5em rgba($color: black, $alpha: 0.05);
            border-top: solid 0.01em rgba(50,50,50, 0.08);
        }
    }
    & #navSecAccueil{
        background-color: #00027c;
        &:hover{
            background-image: url('../img/Placeholders/sombre/1.png');
        }
    }
    & #navSecMoi{
        background-color: #00095e;
        &:hover{
            background-image: url('../img/Placeholders/sombre/2.png');
        }
    }
    & #navSecSuivre{
        background-color: #0061a1;
        &:hover{
            background-image: url('../img/Placeholders/sombre/3.png');
        }
    }
    & #navSecSpotify{
        background-color: #031b46;
        &:hover{
            background-image: url('../img/Placeholders/sombre/4.png');
        }
    }
    & #navSecAnim{
        background-color: #00509b;
        &:hover{
            background-image: url('../img/Placeholders/sombre/5.png');
        }
    }
    & #navSecJV{
        background-color: #002258;
        &:hover{
            background-image: url('../img/Placeholders/sombre/6.png');
        }
    }
    & #navSecPalma{
        background-color: #003283;
        &:hover{
            background-image: url('../img/Placeholders/sombre/7.png');
        }
    }
    & #navSecContact{
        background-color: #001988;
        &:hover{
            background-image: url('../img/Placeholders/sombre/8.png');
        }
    }
    & #navSecondaire{
        background: radial-gradient(circle, $colorMainSombre 0%, $colorSecondaireSombre 100%);
        background-size: 500% 100%;
        animation: blend infinite 90s;
        box-shadow: $fondClair;
        & a:hover{
            color: $colorSecondaireSombreSurvol;
            text-shadow: $borderMiseAvantSurvol;
        }
    }
    & #linkTree{
        &>div>a{
            color: $colorSecondaireSombreSurvol;
            border: $colorSecondaireSombreSurvol solid 0.1em;
            &:hover{
                color: $colorMainSombre;
                background-color: $colorSecondaireSombreSurvol;
                box-shadow: 0 0.06em 1.25em rgba(10, 10, 10, 0.5);
            }
        }
    }
    & #palmares{
        &>span{
            & a{
            color: white;
            }
            & div{
                background-color: $colorMainSombre;
                box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.3);
                &:hover{
                    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
    & #spotify{
        & a{
            color: white;
        }
    }
}
.unselect{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hidden{
    display: none;
}
.invert{
    filter: invert(100%);
}
.wow{
    animation: ahOui 1s  infinite linear;
}
.flash{
    animation: flashAnim 6s linear;
}
.animVague{
        overflow: clip;
        position: relative;
        &::before,&::after{
            content: '';
            width: 150%;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            aspect-ratio: 1;
            translate: -50% 0;
            border-top-left-radius: 60% 80%;
            border-top-right-radius: 70% 50%;
            border-bottom-left-radius: 30% 80%;
            border-bottom-right-radius: 70% 65%;
            mix-blend-mode: multiply;
            animation: rot 100s linear infinite;
        }
        &::after{
            animation-delay: -10s;
            animation-duration: 90s;
        }
}
.link{
    display: inline-block;
    cursor: url('../img/link_curs.png'), pointer;
}

//Navigation principale
header{
    width: pxToPrct(1550, $ratio);
    position: sticky;
    top: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in, 0.5s transform cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
    margin: 0 auto;
    color: white;
    border: 1px solid rgba(255,255,255,.06);
    box-shadow: 0 0.4em 1.75em rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    align-content: center;
    &.show{
        opacity: 1;
        transform: translateY(10px);
    }
    
    
    height: 65px;
    transform: translateY(-65px);
    padding: 0 2em;
    border-radius: 32.5px;
    & nav{
        display: grid;

        //font-size: 2.5em;
        //grid-template: 1fr / 1fr 1fr ;
        & div{
            & a{
                font-family: 'Pirata One', 'Arial Narrow', Arial, sans-serif;
                color: white;
                transition: 0.2s ease-in;
            }
        }
    }
}
#navMenu{
    display: flex;
    flex-wrap: wrap;
    gap: 0.1em 1em;
    justify-content: end;
    justify-items: center;
    align-items: center;
    & a{
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        width: fit-content;
        height: fit-content;
    }
}
#theme{
    border-radius: 0.5625em;
    &:hover{
        animation: themeJN infinite 1s alternate ease-in;
        box-shadow: $borderMiseAvantSurvol;
    }
}

//Début du site affiché
#depart{
    height: 100vh;
    align-content: center;
    //Rotation d'images de fond du site.
    animation: fondAlterAcceuil 15s infinite alternate;
    transition: opacity 5s ease-in-out, background-image 0s;
    background-size: cover;
    background-position: center;
    //Filtre sur l'image de fond pour la lecture
    box-shadow: $fondSombre;
}
#accueil{
    color: white;
    font-family: Arial, sans-serif;
    width: fit-content;
    //margin-left: 15em;
    & h1{
        font-family: "Pirata One", 'Arial Narrow', Arial, sans-serif;
        text-shadow: 0 0.05em $colorSecondaire,0em 0em 0.1em $colorSecondaire, 0em 0em 0.4em $colorSecondaire;
        &:hover{
            animation: titreDisco 2.5s infinite alternate ease-in-out;
        }
    }
    & h2{
        margin: 0.5em 0 0.9em 0;
    }
    //Bouton de la page d'accueil
    & a{
        font-size: 1.25em;
        padding: 0.45em;
        font-variant-caps: small-caps;
        color: $colorSecondaire;
        border: solid 0.15em $colorSecondaire;
        background-color: rgba($colorMain, 0.2);
        transition: 0.5s;
        &:hover{
            font-size: 1.5em;
            color: $colorSecondaireSurvol;
            background-color: rgba($colorMainSurvol, 0.2);
            box-shadow:$borderMiseAvantSurvol;
            border: solid 0.15em $colorSecondaireSurvol;
            border-radius: 2px;
        }
    }
}
#flashbang{
    margin: 2em auto 0;
    padding: 0.8em;
    opacity: 0.1;
    filter: blur(1px);
    border-radius: 15px;
    background-color: rgba($colorMain, $alpha: 1);
    width: fit-content;
    text-align: center;
}

section{
    &:not(#depart){
        padding:3em 0;
        //scroll-margin-top: 90px;
        & h2{
            font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
            margin-top: 0;
            
            //padding-left: 2em;
            //font-size: 2.5em;
        } 
    }
}

//Défition de la grid de la nav
#navSecAccueil{
    grid-area: secAcc;
}
#navSecMoi{
    grid-area: secMoi;
}
#navSecSuivre{
    grid-area: secSuivre;
}
#navSecSpotify{
    grid-area: secSpotify;
}
#navSecAnim{
    grid-area: secAnim;
}
#navSecJV{
    grid-area: secJV;
}
#navSecPalma{
    grid-area: secPalma;
}
#navSecContact{
    grid-area: secContact;
}
#navSecTxt{
    grid-area: secTxt;
    text-align: end;
    padding: 0 0.4em;
}
#navSecondaire{
    color: white;
    &>div{
        padding: 0 1em;
        font-weight: bold;
        font-size: 2em;
        font-variant-caps: all-petite-caps;
        /*display: grid;
        grid-template: repeat(4,1fr) 1.5fr/ repeat(2,1fr) 2fr;
        grid-template-areas:'secAcc secAcc secMoi'
                            'secSuivre secSpotify secMoi'
                            'secAnim secPalma secMoi'
                            'secJV secPalma secMoi'
                            'secTxt secTxt secContact';*/
        &>a{
            color: white;
            padding: 0.4em;
            text-align: center;
            align-content: center;
            border-radius: 15px;
            margin: 0.1em;
            background-size: cover;
            background-position: center;
            &:hover{
                box-shadow: $fondSombre;
            }
        }
    }
}

#moi{
    & h2{
        width: fit-content;
        &:hover::after{
            content: 'I built this page brick by brick';
            font-family: 'pirata one';
        }
    }
}

//LinkTree à remodifier !!!!

#linkTree{
    >div{
        width: pxToPrct(1600, $ratio);
        margin: 0 auto;
        font-size: 1.25em;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        gap: 0.8em pxToPrct(100, $ratio);
        &:nth-child(odd){
            flex-grow: 1.5;
        }
        &>a{
            width: fit-content;
            padding: 0.6em;
            font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
            font-weight: light;
            border-radius: 1.2em;
            transition: box-shadow 0.5s ease-out;
        }
    }
}

#palmares{
    &>span{
        width: pxToPrct(1600, $ratio);
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        &>div{
            //width: 320px;
            //height: 400px;
            margin: 1em;
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            overflow: hidden;
            transition: transform 0.5s ease-in-out, box-shadow 1.5s ease-out;
            &:hover{
                transform: scale(1.05);
            }
            & img{
                //height: 350px;
                
                width: 100%;
                object-fit: cover;
                overflow: hidden;
            }
            & span{
                //height: 4.6875em;
                
                display: block;
                & h3{
                    //font-size: 1.5em;
                    
                    text-transform: uppercase;
                    line-height: 1em;
                    padding: 0.5em;
                    margin-bottom: 0.35rem;
                }
            }
        }
    }
}

#spotify{
    & a:hover{
        text-shadow: 0 0 0.1em rgba(0, 128, 0, 0.2),0em 0em 0.1em rgba(144, 238, 144,0.1), 0em 0em 0.4em rgba(144, 238, 144,0.1);
    }
    & div{
        width: (1600,$ratio);
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        & iframe{
            width: 20%;
        }
    }
}
#anim{
    //font-size: 3em;
    
    width: fit-content;
    margin: 0 auto;
    font-weight: 600;
    transition: 0.3s ease-out;
    &.scale{
        scale: 0.95 0.95;
    }
}
#jeuVideo{
    margin: 0 auto;
    width: pxToPrct(1100, $ratio);
    height: 40em;
}
.letAnim{
    display: inline-block;
    animation: transform 0.2s ease-out, translate 1s ease-in-out, color 3s ease-in-out;
    &.animat{
        transform: scaleX(0.8) skewX(3deg);
        translate: 0 -0.15em;
    }
    &.reset{
        transform: scaleX(1) skewX(0);
        translate: 0 0;
        //transition: transform 1.05s cubic-bezier(0.68,-0.55,0.27,1.55), translate 0.2s cubic-bezier(0.68,-0.55,0.27,1.55), color 0.5s cubic-bezier(0.68,-0.55,0.27,1.55);
        transition: 1.05s cubic-bezier(0.68,-0.55,0.27,1.55);
    }
}
//lo poti chat
@media only screen and (min-width: 0px){
    .light-theme{
        & #navSecondaire>div>a{
            background-color: rgba($colorMain, $alpha: 0.5);
            border: 2px solid rgba($colorMainSombre, $alpha: 0.8);
        }
        & #contact{
            box-shadow: none;
            border: none;
        }
    }
    .dark-theme{
        & #navSecondaire>div>a{
            background-color: rgba($colorMainSombre, $alpha: 0.5);
            border: 2px solid rgba($colorMainSombreSurvol, $alpha: 0.8);
        }
        & #contact{
            box-shadow: none;
            border: none;
        }
    }
    #accueil{
        text-align: center;
        margin: 0 auto;
        & h1{
            font-size: 3.5em;
            margin: 0;
        }
        & h2{
            font-size: 1.3em;
            margin: 0.15em 0.7em 1em;
            font-weight: 200;
        }
    }
    header{
        height: 40px;
        border-radius: 20px;
        padding: 0 1em;
        transform: translateY(-40px);
        & nav{
            font-size: 1.3em;
            grid-template:1fr / fit-content(1em) 1fr;
        }
    }
    #navMenu{
        gap: 0.1em 0.5em
    }
    #navSecJV, #navSecTxt{
        display: none;
    }
    #navSecondaire{
        &>div{
            display: flex;
            flex-wrap: wrap;
            &>a{
                width: 100%;
            }
        }
    }
    section{
        &:not(#depart){
            scroll-margin-top: 60px;
            & h2{
                font-size: 2em;
                width: fit-content;
                margin: 0 auto;
            }
        }
    }
    #palmares>span>div{
        width: 100%;
        height: 250px;
        border-radius: 1em;
        & img{
            height: 250px;
        }
        & h3{
            font-size: 1.3em;
        }
    }
    #spotify{
        & div{
            margin-top: 1em;
            flex-flow: column;
            gap: 1em;
            & iframe{
                width: 85%;
                height: 9.5em;
                margin: 0 auto;
                border-radius: 1em;
            }
        }
    }
    #anim{
        font-size: 2.3em;
    }
    #jouer{
        display: none;
    }
}
//xs
@media only screen and (min-width: 321px) {
    h1::after{
        content: '321';
        color: #1e2159;
    }
}

//sm
@media (min-width: 640px) {
    h1::after{
        content: '640px';
        color: #1e2159;
    }
}

//md
@media (min-width: 768px) {
    h1::after{
        content: '768px';
        color: #1e2159;
    }
}

//lg
@media (min-width: 1024px) {
    h1::after{
        content: '1024px';
        color: #1e2159;
    }
}

//xl
@media only screen and (min-width: 1288px) {
    h1::after{
        content: '1288px';
        color: #1e2159;
    }
}

//2xl
@media only screen and (min-width: 1536px) {
    h1::after{
        content: '1536px';
        color: #1e2159;
    }
}

//Animations
@keyframes fondAlterAcceuil{
    0%{background-image: url(../img/accueil.jpg);}
    49%{background-image: url(../img/accueil.jpg);}
    50%{background-image: url(../img/2024-01-30_192441_16.jpg);}
    100%{background-image: url(../img/2024-01-30_192441_16.jpg);}
}
@keyframes titreDisco {
    from{
        filter: hue-rotate(0);
        filter: brightness(1);
    }
    to{
        filter: hue-rotate(100deg);
        filter: brightness(1.4);
    }
}
@keyframes themeJN {
    from{
        filter: brightness(10);
    }
    to{
        filter: brightness(1);
    }
}
@keyframes flashAnim {
    from{
        filter: brightness(80);
    }
    50%{
        filter: brightness(80);
    }
    to{
        filter: brightness(0);
    }
}
@keyframes blend{
    to{
        background-position: 500% 100%;
    }
}
@keyframes ahOui {
    to{
        filter: hue-rotate(360deg);
    }
}
@keyframes rot{
    to{
        rotate: 360deg;
    }
}
//À Retirer une fois le code fini

.wip{
    &::after{
        vertical-align: top;
        font-family: "Roboto" , Arial, sans-serif;
        font-size: 0.4em;
        font-weight: 200;
        content:'Work in progress';
    }
}