<!--<p>claculatrice works!</p>-->
<h1>Cette rubrique est un work in progress</h1>
<button (click)="luminance()" [disabled]="isLuminanceRunning">I feel lucky (make me broke)</button>
<p #lumiere>lose everything</p>
<p #lumiere>lose everything</p>
<p #lumiere>lose everything</p>
<p #lumiere>lose everything</p>
<p #lumiere>lose everything</p>
<p #lumiere>JACKPOT!!!!</p>
<p #lumiere>lose everything</p>
<p #lumiere>lose everything</p>
<p #lumiere>lose everything</p>
<p #lumiere>lose everything</p>
<p #lumiere>lose everything</p>
