.character-sheet {
  padding: 1rem;
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  grid-template-areas:
    'identity mainStats'
    'inventory stats'
    'inventory lore'
    'skills lore'
    'skills debuff';

  & .subtitle {
    font-size: 0.75rem;
    color: var(--primary-hover-color);
  }

  & .identity {
    grid-area: identity;
    display: block;

    & h1 {
      color: var(--primary-active-color);
      text-transform: uppercase;
    }

    & .info {
      & p {
        font-size: 0.9rem;
        margin: 0.4rem 0;
      }
    }
  }

  & .mainStats {
    grid-area: mainStats;

    & .mainStatBar {
      margin-bottom: 0.7rem;

      & label {
        font-size: 0.75rem;
        display: inline-block;
        margin-bottom: 0.25rem;
      }

      & .progress {
        background: black;
        border: 2px solid #888;
        height: 14px;
        border-radius: 4px;

        & .fill {
          height: 100%;
          background: var(--primary-active-color);
          border-radius: 4px;
        }
      }
    }
  }

  & .stats {
    grid-area: stats;
    height: fit-content;
  }

  & .skills {
    grid-area: skills;

    & .bar {
      background: black;
      border: 2px solid #888;
      height: 7px;
      border-radius: 4px;
      width: 95%;
      margin: 0.1rem auto 0.5rem;

      & .fill {
        height: 100%;
        background: var(--primary-active-color);
        border-radius: 4px;
      }
    }
  }

  & .inventory {
    grid-area: inventory;
  }

  & .lore {
    grid-area: lore;
  }

  & .debuff {
    grid-area: debuff;
  }
}
