//*{
//  font-family: "VT323", monospace;
//  font-size: 1.1rem;
//}
.terminalScreen {
  background-color: #130015;
  padding: 1rem;
  color: #f5ccff;
  min-height: 100%;
}

.terminalOutput {
  margin-bottom: 1rem;
}

.terminalInput {
  display: flex;
  align-items: center;

  .prompt {
    color: #ff9cf0;
    margin-right: 0.5rem;
  }

  input {
    flex: 1;
    background: transparent;
    border: none;
    color: #ff9cf0;
    font-size: 1rem;
    outline: none;
    caret-color: #ffb6ff;
  }
}
