.terminalScreen {
  background-color: #130015;
  padding: 1rem;
  color: #f5ccff;
  min-height: 100%;
}

.terminalOutput {
  margin-bottom: 1rem;
}

.terminalInput {
  display: flex;
  align-items: center;

  .prompt {
    color: #ff9cf0;
    margin-right: 0.5rem;
  }

  input {
    background: transparent;
    border: none;
    color: #ff9cf0;
    font-size: 1rem;
    outline: none;
  }
}

@media (max-width: 767px) {
  .terminalOutput {
    max-width: 100%;
    word-break: break-word;
    white-space: pre-wrap;
  }
  .terminalInput {
    & input {
      word-break: break-word;
      white-space: pre-wrap;
      max-width: 98%;
    }
  }
}
