<div class="SideScreenWrapper">

  <ng-container *ngIf="!selectedCategory">
    <h2 class="title">Mes productions</h2>
    <div class="menu">
      <div class="menuItem" *ngFor="let item of projects" (click)="selectCategory(item)">
        <h3>{{ item.title }}</h3>
        <p *ngIf="item.description">{{ item.description }}</p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="selectedCategory">
    <div class="submenu">
      <button class="backBtn" (click)="backToMenu()">&larr; Retour</button>
      <h2 class="subtitle">{{ selectedCategory.title }}</h2>
      <div class="menuItem" *ngFor="let sub of selectedCategory.subItems" (click)="selectCategory(sub)">
        <h3>{{ sub.title }}</h3>
        <p *ngIf="sub.description">{{ sub.description }}</p>
        <span class="year" *ngIf="sub.year">{{ sub.year }}</span>
      </div>
    </div>
  </ng-container>

</div>


<!--LEGACY-->

<!--<span>-->
<!--  <div id="expoPignon">-->
<!--    <span>-->
<!--      <a href="https://www.instagram.com/p/C2zQSAPt2QC/" target="_blank">-->
<!--        <h3>Pignon sur rue</h3>-->
<!--      </a>-->
<!--    </span>-->
<!--    <p>"Pignon sur rue" est ma première exposition solo. L'objectif était de réaliser des oeuvres où l'ont retrouvait les codes de l'affiche brutaliste, teintés de mon traditionnel esprit punk. Pour y ajouter mon univers, toutes les photos qui m'ont servi ont été prises dans notre Cité Ardente ! Les textures des affiches ont également été réalisées par mes soins.</p>-->
<!--  </div>-->
<!--  <div id="expoPigeon">-->
<!--    <span>-->
<!--      <a href="https://www.instagram.com/p/CvH4lzuNA6n/" target="_blank">-->
<!--        <h3>Je vous l'avais dit que je le ferais.</h3>-->
<!--      </a>-->
<!--    </span>-->
<!--    <p>"Je vous l'avais dit que je le ferais." est une exposition collective à mon initiative. L'idée était que chaque exposant s'impose une contrainte, plus ou moins astreignante, afin de développer de nouvelles capacités. Les différentes personnalités ont permis d'avoir des réalisations très variées. En ce qui concerne ma contrainte, toutes mes œuvres ont été basées sur des polaroids que l'on retrouve dans l'édition "La Genèse".</p>-->
<!--  </div>-->
<!--  <div id="tattoo">-->
<!--    <span>-->
<!--      <a href="https://www.instagram.com/slxxpyboi.tattoo/" target="_blank">-->
<!--        <h3>Tatouage(s)</h3>-->
<!--      </a>-->
<!--    </span>-->
<!--    <p>Bien que je me considère toujours en apprentissage, pendant un peu plus d'un an, j'ai eu l'honneur de tatouer au « Cocoon Ink ». Suite à la fermeture du salon susnommé, mon activité a malheureusement dû prendre fin ; cela ne m'empêche pas d'avoir hâte de la reprendre dans mon temps libre dès que j'en aurai les moyens.</p>-->
<!--  </div>-->
<!--</span>-->
