<div class="SideScreenWrapper">

  <ng-container *ngIf="!selectedCategory">
    <h2 class="title">Mes productions</h2>
    <div class="menu">
      <div class="menuItem" *ngFor="let item of projects" (click)="selectCategory(item)">
        <h3>{{ item.title }}</h3>
        <p *ngIf="item.description">{{ item.description }}</p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="selectedCategory">
    <div class="submenu">
      <button class="backBtn" (click)="backToMenu()">&larr; Retour</button>
      <h2 class="subtitle">{{ selectedCategory.title }}</h2>
      <div class="menuItem" *ngFor="let sub of selectedCategory.subItems" (click)="selectCategory(sub)">
        <h3>{{ sub.title }}</h3>
        <p *ngIf="sub.description">{{ sub.description }}</p>
        <span class="year" *ngIf="sub.year">{{ sub.year }}</span>
      </div>
    </div>
  </ng-container>

</div>
