<div id="screen">
  <div id="titleBar">
    <div id="titleMain">
      <i class="pi pi-eye"></i>
      <h1>SleepyProject</h1>
    </div>
    <div id="titleSide">
      <i class="pi pi-minus"></i>
      <i class="pi pi-plus"></i>
      <i class="pi pi-ban" (click)="goToHome()"  id="closingScreen"></i>
<!--      <p-button icon="pi pi-ban" (click)="goToHome()"></p-button>-->
    </div>
  </div>
  <div id="sideNav">
    <app-nav></app-nav>
  </div>
  <div id="sideScreen">
    On mettra qqc ici mais je sais pas encore quoi
  </div>
</div>
