<div class="screenContainer">
  <h1>Bienvenue dans mon antre !</h1>
  <p>
    <i>Tu viens d’entrer dans une application oubliée, créée avec passion et magie technique.</i></p>
  <p>
    Ici, chaque composant Angular, chaque service ou animation, est une rune soigneusement tracée.
    Explore les couloirs de mes projets, découvre mes quêtes passées, et ose forger l’avenir à mes côtés.
    Ce portfolio est propulsé par Angular 19, habillé en SCSS mystique, et nourri à la passion du pixel.
  </p>

  <p>
    Les touches haut (&uarr;) et bas (&darr;) de ton clavier t'aideront à naviguer dans ce dernier. <br>
    Tu peux également utiliser la touche entrée (&crarr;) ou espace (&#9251;) pour valider un choix.
  </p>

  <p>
    <em>Appuie sur "DEMARRER" pour ouvrir le grimoire des projets...</em>
  </p>
  <p-button [routerLink]="'/about-me'">
    Demarrer
  </p-button>
</div>
