<!--<p-button label="Toggle Dark Mode" (onClick)="toggleDarkMode()"/>-->


<!--<p-button *ngIf="!showScreen" label="Lancer l'app" icon="pi pi-user" iconPos="right" (onClick)="toggleScreen()"/>-->
<div class="test" *ngIf="!showScreen" (dblclick)="toggleScreen()">

  <img src="images/file-place-holder.png" alt="icon img">
</div>

<div id="screen" *ngIf="showScreen" @pixelGlitchIn>
  <div id="titleBar">
    <div id="titleMain">
      <i class="pi pi-eye" (click)="toggleDarkMode()"></i>
      <h1>SleepyProject</h1>
    </div>
    <div id="titleSide">
      <i class="pi pi-minus" (click)="toggleScreen()" id="minusScreen"></i>
      <i class="pi pi-plus"></i>
      <i class="pi pi-ban" (click)="closeScreen()" id="closingScreen"></i>
    </div>
  </div>
  <div id="sideNav">
    <app-nav></app-nav>
  </div>
  <div id="sideScreen">
    <router-outlet/>
  </div>
</div>
