@import "primeicons/primeicons.css";

$primary-color: #8A4DCE;

#screen {
  display: grid;
  grid-template:
    "titleBar titleBar" 8.5%
    "sideNav sideScreen" 91.5% / 1fr 3fr;

  height: 90vh;
  width: 95vw;
  background-color: var(--surface-bg-secondary);
  color: var(--primary-color);
  clip-path: polygon(
      0px calc(100% - 6px),
      3px calc(100% - 6px),
      3px calc(100% - 3px),
      6px calc(100% - 3px),
      6px 100%,
      calc(100% - 6px) 100%,
      calc(100% - 6px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 6px),
      100% calc(100% - 6px),
      100% 6px,
      calc(100% - 3px) 6px,
      calc(100% - 3px) 3px,
      calc(100% - 6px) 3px,
      calc(100% - 6px) 0px,
      6px 0px,
      6px 3px,
      3px 3px,
      3px 6px,
      0px 6px
  );
}

#titleBar {
  grid-area: titleBar;
  text-transform: uppercase;
  display: grid;
  grid-template: 1fr / 1fr fit-content(1em);
  padding: 0 1rem;
  align-items: center;
  border: 6px solid var(--border-color);

  & #titleMain {
    display: flex;
    align-items: center;

    & h1 {
      width: fit-content;
      margin-left: 0.4rem;
    }
  }

  & #titleSide {
    display: flex;
    gap: 0.5rem;

    & * {
      border: var(--border-color) 4px solid;
      padding: 0.25rem;
    }

    & #closingScreen, #minusScreen, #darkScreen {
      display: block;
      cursor: pointer;

      &:hover {
        background-color: var(--primary-active-color);
      }
    }
  }
}

#sideNav {
  grid-area: sideNav;
  border: 6px solid var(--border-color);
  border-top: none;

}

::-webkit-scrollbar {
  width: 1.25rem;

  &-track {
    background: var(--surface-bg-secondary);
  }

  &-thumb {
    background: var(--accent-color);

    &:hover {
      background: var(--highlight-color);
    }
  }
}

#sideScreen {
  grid-area: sideScreen;
  border: 6px solid var(--border-color);
  border-top: none;
  border-left: none;
  overflow: scroll;
  overflow-x: hidden;
}

.iconEXE {
  display: flex;
  flex-direction: column;
  width: 5vw;

  &::after {
    content: "Sleepy_Project.exe";
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.5rem;
    margin-top: 0.4rem;
  }

  & svg {
    align-self: center;
    width: 60%;
    image-rendering: pixelated;
  }

  &:hover {
    cursor: pointer;

    & svg,
    &::after {
      background-color: rgba($primary-color, 0.4);
      border: darken($primary-color, 0.2) 1px solid;
    }
  }
}

[hidden] {
  display: none !important;
}

@media (max-width: 767px) {

  #screen {
    display: grid;
    grid-template:
      "titleBar" 15%
      "sideNav" 10%
      "sideScreen" 75%;
    width: 85vw;

    & #titleBar {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-evenly;
      width: 100%;
      padding: 0.4rem;
      margin: 0;
      border: 6px solid var(--border-color);
    }

    & #sideScreen {
      border: 6px solid var(--border-color);
      border-top: none;
    }
  }
  .iconEXE {
    width: 30vw;
  }
}
