.arcane-roulette {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  padding: 1rem;

  background: radial-gradient(#000, #1e002a);
  border: 4px double var(--primary-color);

  text-align: center;

  .wheel {
    width: 70%;
    margin: 0 auto;
    border: 2px ridge var(--primary-color);
    filter: contrast(1.2) brightness(1.15);

    .stats {
      margin: 1rem 0;
      font-size: 0.8rem;
    }

    .symbol {
      margin: 0.4rem 0;
      text-shadow: 0 0 4px var(--primary-color);
      text-transform: uppercase;
    }
  }

  .roll-btn {
    background: var(--primary-color);
    color: white;
    padding: 0.75rem 1rem;
    cursor: pointer;

    &:hover {
      background: var(--primary-hover-color);
    }

    &:disabled {
      background: var(--accent-color);
    }
  }
}


.selected {
  color: orange;
  background-color: rgba(255,255,255,0.2);
}

.jackpot {
  color: #ffe700;
  text-shadow: 0 0 6px #ffd700, 0 0 12px #fff;
  animation: flicker 0.6s infinite;
}

.glitch {
  color: #ff5ef0;
  text-shadow: 0 0 4px #ff5ef0, 0 0 8px #ff0090;
  animation: glitch 0.3s infinite;
}


@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-1px, 1px);
  }
  40% {
    transform: translate(1px, -1px);
  }
  60% {
    transform: translate(-2px, 0px);
  }
  80% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
