<div class="arcane-roulette">
  <button class="roll-btn" (click)="roll()" [disabled]="isRolling">I feel lucky (ruin me)</button>
  <p>Victoire{{ wins > 1 ? 's' : '' }} : {{ wins }} | Défaite{{ losses > 1 ? 's' : '' }} : {{ losses }}</p>
  <div class="wheel">
    <p class="symbol" #option>☢ decay ☢</p>
    <p class="symbol" #option>╳ failed ╳</p>
    <p class="symbol" #option>☠ LOSE ☠</p>
    <p class="symbol" #option>✘ lose again ✘</p>
    <p class="symbol" #option>⛧ unlucky ⛧</p>
    <p class="symbol" #option>🜚 JACKPOT !!!!! 🜚</p>
    <p class="symbol" #option>⛧ unlucky ⛧</p>
    <p class="symbol" #option>╳ failed ╳</p>
    <p class="symbol" #option>☠ LOSE ☠</p>
    <p class="symbol" #option>✘ lose again ✘</p>
    <p class="symbol" #option>☢ decay ☢</p>
  </div>
</div>
