
<h2>
    <a target="_blank" class="unselect" href="https://open.spotify.com/user/vaganuki/playlists">Spotify playlists</a>
</h2>
<div>
    <iframe src="https://open.spotify.com/embed/playlist/6fdlMzDloca5ixc0yePvP4?utm_source=generator" frameBorder="0"
    allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>
    <iframe src="https://open.spotify.com/embed/playlist/1mCUeLAzX306SnGYixVkDB?utm_source=generator" frameBorder="0"
    allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>
    <iframe src="https://open.spotify.com/embed/playlist/6wCDp90v2pwMDws3fviZYw?utm_source=generator" frameBorder="0"
    allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>
</div>
<p><i style="font-size: 0.5em;">Tout ici est un work in progress en attendant de pouvour jouer avec le sdk de spotify</i></p>