.navMenu {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;

  & .navItem {
    //padding: 0.8rem 0;
    display: inline-block;

    &:has(> .routerLinkActive) {
      &:hover,
      &:has(button:focus) {
        box-shadow: inset 0 0 0 4px var(--primary-active-color), inset 0 0 0 8px var(--primary-color);
      }

      background-color: var(--primary-active-color);

      & button {
        color: var(--surface-bg);
      }
    }

    &:has(:not(.routerLinkActive)) {
      &:hover,
      &:has(button:focus) {
        background-color: var(--primary-color);
      }
    }

    & button {
      color: var(--text-color);
      text-decoration: none;
      outline: none;
      border: none;
      background: none;
      width: 100%;
      height: 2.75rem;
      &:hover,
      &:focus {
        &::before{
          content: '>';
          animation: blink 0.5s infinite;
        }
      }
    }
  }
}

.routerLinkActive {
  &::before {
    content: "> ";
  }
}

@keyframes blink {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  51%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
