/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=VT323&family=Press+Start+2P&family=Coral+Pixels&display=swap');
@import "primeicons/primeicons.css";

:root {
  --primary-color: #8A4DCE; // Texte principal
  --primary-hover-color: #A268D6; // Hover
  --primary-active-color: #703DB7; // Action pressée
  --primary-inverse-color: #F9F2FF; //Pour le contraste

  --surface-bg: #F5EBFC; //Fond
  --surface-bg-secondary: #E2D0F5; //Variation pour les menus

  --text-color: #2E023C; //Texte
  --text-color-muted: #6B4D80; //Texte secondaire

  --accent-color: #D986E8; //Pour les survols / Call to action
  --highlight-color: #C963E4; // Petits détails lumineux

  --border-color: #C29BDF;
  --shadow-color: rgba(51, 14, 73, 0.2);
}

.dark-mode {
  --primary-color: #B05CE3;
  --primary-hover-color: #C775EF;
  --primary-active-color: #954DC2;
  --primary-inverse-color: #1E022E;

  --surface-bg: #1A0824;
  --surface-bg-secondary: #2C0E40;

  --text-color: #E1C4F5;
  --text-color-muted: #A678C8;

  --accent-color: #bd67d3;
  --highlight-color: #F9A3FC;

  --border-color: #52266D;
  --shadow-color: rgba(0, 0, 0, 0.6);
}

* {
  font-family: 'Press Start 2P', 'Pixelify Sans', 'Coral Pixels', Arial, Helvetica, monospace;
  font-weight: 100;
  font-size: 16px;
}

body {
  background-color: var(--surface-bg);
  color: var(--text-color);
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
}
